In [1]:
import gc
from tqdm import tqdm, tqdm_notebook
from sklearn.model_selection import StratifiedKFold, KFold
from sklearn.metrics import f1_score, roc_auc_score
import datetime
import time
import lightgbm as lgb
import xgboost as xgb
import catboost as ctb
import numpy as np
import pandas as pd

import os
import math

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings('ignore')

In [2]:
valid_data = pd.read_csv('valid_data.csv')
valid_data['salesVolume'] = valid_data['forecastVolum']
del valid_data['forecastVolum']

train_sales  = pd.read_csv('train_sales_data_train.csv')
train_search_data = pd.read_csv('train_search_data_train.csv')
train_user_reply_data = pd.read_csv('train_user_reply_data_train.csv')
evaluation_public = valid_data

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [5]:
print(train_sales.head())
print(valid_data.head())

   Unnamed: 0 province  adcode             model bodyType  regYear  regMonth  \
0           0       上海  310000  3c974920a76ac9c1      SUV     2016         1
1           1       云南  530000  3c974920a76ac9c1      SUV     2016         1
2           2      内蒙古  150000  3c974920a76ac9c1      SUV     2016         1
3           3       北京  110000  3c974920a76ac9c1      SUV     2016         1
4           4       四川  510000  3c974920a76ac9c1      SUV     2016         1

   salesVolume
0          292
1          466
2          257
3          408
4          610
  province  adcode             model  regYear  regMonth  salesVolume
0       上海  310000  3c974920a76ac9c1     2017         9          373
1       云南  530000  3c974920a76ac9c1     2017         9          240
2      内蒙古  150000  3c974920a76ac9c1     2017         9          166
3       北京  110000  3c974920a76ac9c1     2017         9          380
4       四川  510000  3c974920a76ac9c1     2017         9          590

In [6]:
del train_sales['Unnamed: 0'],train_sales['bodyType']

In [8]:
train_sales = pd.concat([train_sales, valid_data], ignore_index=True)

In [10]:
print(train_sales.tail())

      province  adcode             model  regYear  regMonth  salesVolume
31675       福建  350000  a9a43d1a7ecbe75d     2017        12          104
31676       辽宁  210000  a9a43d1a7ecbe75d     2017        12          134
31677       重庆  500000  a9a43d1a7ecbe75d     2017        12          142
31678       陕西  610000  a9a43d1a7ecbe75d     2017        12          286
31679      黑龙江  230000  a9a43d1a7ecbe75d     2017        12           63

In [20]:
train_sales2 = train_sales.set_index(["adcode", "model", "province","regYear", "regMonth"])[["salesVolume"]].unstack(level=-1)
train_sales2.head(10)

                                         salesVolume                           \
regMonth                                          1    2    3    4    5    6
adcode model            province regYear
110000 02aab221aabc03b9 北京       2016            799  424  733  545  566  646
                                 2017            798  532  838  575  694  618
       04e66e578f653ab9 北京       2016            135   57  160  141  144  157
                                 2017            180   87  167  105  117  108
       06880909932890ca 北京       2016            872  197  494  429  502  404
                                 2017            253  139  206  162  160  198
       0797526c057dcf5b 北京       2016            309  106  458  579  619  663
                                 2017            232  253  315  319  299  344
       12f8b7e14947c34d 北京       2016            595  219  346  342  374  346
                                 2017            143  102  126   84  102   87


regMonth                                   7    8    9    10   11   12
adcode model            province regYear
110000 02aab221aabc03b9 北京       2016     748  847  831  642  654  521
                                 2017     670  630  717  531  547  476
       04e66e578f653ab9 北京       2016     165  158  241  166  231  280
                                 2017     135  120  189  134  166  190
       06880909932890ca 北京       2016     587  598  646  461  553  771
                                 2017     159  181  213  136  172  268
       0797526c057dcf5b 北京       2016     697  743  797  664  656  980
                                 2017     411  421  471  343  328  527
       12f8b7e14947c34d 北京       2016     429  397  451  276  389  488
                                 2017      71  101  107   59   78  103