## 构造17年9，10，11，12月的规则销量，作为验证集: valid_data

4, 3, 2, 1

12,11,10,9,  

8，7,6,5,4,3,2,1

In [2]:
import gc
from tqdm import tqdm, tqdm_notebook
from sklearn.model_selection import StratifiedKFold, KFold
from sklearn.metrics import f1_score, roc_auc_score
import datetime
import time
import lightgbm as lgb
import xgboost as xgb
import catboost as ctb
import numpy as np
import pandas as pd

import os
import math

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings('ignore')

In [2]:
train_sales  = pd.read_csv('train_sales_data.csv')
evaluation_public = pd.read_csv('evaluation_public.csv')
submit_example    = pd.read_csv('submit_example.csv')

In [4]:
train_search_data = pd.read_csv('train_search_data.csv')
train_user_reply_data = pd.read_csv('train_user_reply_data.csv')

In [7]:
#划分search验证集和训练集
train_search_data_valid = train_search_data.loc[((train_search_data.regYear == 2017) & ((train_search_data.regMonth == 9)|(train_search_data.regMonth == 10)|(train_search_data.regMonth == 11)|\
                                                         (train_search_data.regMonth == 12)))]
train_search_data_train = train_search_data.loc[~((train_search_data.regYear == 2017) & ((train_search_data.regMonth == 9)|(train_search_data.regMonth == 10)|(train_search_data.regMonth == 11)|\
                                                         (train_search_data.regMonth == 12)))]
train_search_data_valid.head()

train_search_data_valid.to_csv('train_search_data_valid.csv',index =False)
train_search_data_train.to_csv('train_search_data_train.csv')

In [9]:
#划分reply验证集和训练集
train_user_reply_data_valid = train_user_reply_data.loc[((train_user_reply_data.regYear == 2017) & ((train_user_reply_data.regMonth == 9)|(train_user_reply_data.regMonth == 10)|(train_user_reply_data.regMonth == 11)|\
                                                         (train_search_data.regMonth == 12)))]
train_user_reply_data_train = train_user_reply_data.loc[~((train_user_reply_data.regYear == 2017) & ((train_user_reply_data.regMonth == 9)|(train_user_reply_data.regMonth == 10)|(train_user_reply_data.regMonth == 11)|\
                                                         (train_user_reply_data.regMonth == 12)))]
train_user_reply_data_valid.head()

train_user_reply_data_valid.to_csv('train_user_reply_data_valid.csv',index =False)
train_user_reply_data_train.to_csv('train_user_reply_data_train.csv')

In [7]:
#构建12,11,10,9四个月的验证集

In [6]:
train_sales.head()

  province  adcode             model bodyType  regYear  regMonth  salesVolume
0       上海  310000  3c974920a76ac9c1      SUV     2016         1          292
1       云南  530000  3c974920a76ac9c1      SUV     2016         1          466
2      内蒙古  150000  3c974920a76ac9c1      SUV     2016         1          257
3       北京  110000  3c974920a76ac9c1      SUV     2016         1          408
4       四川  510000  3c974920a76ac9c1      SUV     2016         1          610

In [3]:
m1_12 = train_sales.loc[(train_sales.regYear == 2017) & ((train_sales.regMonth == 9)|(train_sales.regMonth == 10)|(train_sales.regMonth == 11)|\
                                                         (train_sales.regMonth == 12))]

In [20]:
train_sales = train_sales.loc[~((train_sales.regYear == 2017) & ((train_sales.regMonth == 9)|(train_sales.regMonth == 10)|(train_sales.regMonth == 11)|\
                                                         (train_sales.regMonth == 12)))]

In [21]:
train_sales

,province,adcode,model,bodyType,regYear,regMonth,salesVolume
0,上海,310000,3c974920a76ac9c1,SUV,2016,1,292
1,云南,530000,3c974920a76ac9c1,SUV,2016,1,466
2,内蒙古,150000,3c974920a76ac9c1,SUV,2016,1,257
3,北京,110000,3c974920a76ac9c1,SUV,2016,1,408
4,四川,510000,3c974920a76ac9c1,SUV,2016,1,610
...,...,...,...,...,...,...,...
26395,福建,350000,a9a43d1a7ecbe75d,SUV,2017,8,106
26396,辽宁,210000,a9a43d1a7ecbe75d,SUV,2017,8,140
26397,重庆,500000,a9a43d1a7ecbe75d,SUV,2017,8,136
26398,陕西,610000,a9a43d1a7ecbe75d,SUV,2017,8,338
26399,黑龙江,230000,a9a43d1a7ecbe75d,SUV,2017,8,70

In [4]:
m1_12['forecastVolum']  = 0

In [5]:
del m1_12['bodyType']

In [7]:
m1_12.to_csv('valid_data.csv',index=False)

## 构建验证集完毕

In [9]:
valid_data = m1_12

In [13]:

#感觉这只是环比啊
##### 9月环比
m9_8    = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==9) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==8), 'salesVolume'].values
m9_7    = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==9) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==7), 'salesVolume'].values
m9_6   = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==9) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==6), 'salesVolume'].values
m9_5   = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==9) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==5) , 'salesVolume'].values
m9_4    = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==9) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==4) , 'salesVolume'].values
m9_3    = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==9) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==3) , 'salesVolume'].values
m9_2    = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==9) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==2) , 'salesVolume'].values

m9_8_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==8), 'salesVolume'].values * m9_8
m9_7_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==7), 'salesVolume'].values * m9_7
m9_6_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==6), 'salesVolume'].values * m9_6
m9_5_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==5) , 'salesVolume'].values * m9_5
m9_4_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==4) , 'salesVolume'].values * m9_4
m9_3_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==3) , 'salesVolume'].values * m9_3
m9_2_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==2) , 'salesVolume'].values * m9_2

valid_data.loc[valid_data.regMonth==9, 'forecastVolum'] = ( m9_8_volum/2 + m9_7_volum/4 + m9_6_volum/8 + \
                                                      m9_5_volum/16 + m9_4_volum/32 + m9_3_volum/64 + m9_2_volum/64 )
                                                     

##### 10月
m10_9    = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==10) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==9), 'salesVolume'].values
m10_8    = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==10) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==8), 'salesVolume'].values
m10_7   = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==10) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==7), 'salesVolume'].values
m10_6   = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==10) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==6) , 'salesVolume'].values
m10_5   = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==10) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==5) , 'salesVolume'].values
m10_4    = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==10) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==4) , 'salesVolume'].values
m10_3    = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==10) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==3) , 'salesVolume'].values

m10_9_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==9), 'salesVolume'].values * m10_9
m10_8_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==8), 'salesVolume'].values * m10_8
m10_7_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==7), 'salesVolume'].values * m10_7
m10_6_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==6) , 'salesVolume'].values * m10_6
m10_5_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==5) , 'salesVolume'].values * m10_5
m10_4_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==4) , 'salesVolume'].values * m10_4
m10_3_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==3) , 'salesVolume'].values * m10_3


valid_data.loc[valid_data.regMonth==10, 'forecastVolum'] = ( m10_9_volum/2 + m10_8_volum/4 + m10_7_volum/8 + \
                                                      m10_6_volum/16 + m10_5_volum/32 + m10_4_volum/64 + m10_3_volum/64)
#####11月
m11_10    = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==11) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==10), 'salesVolume'].values
m11_9    = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==11) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==9), 'salesVolume'].values
m11_8   = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==11) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==8), 'salesVolume'].values
m11_7   = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==11) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==7) , 'salesVolume'].values
m11_6   = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==11) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==6) , 'salesVolume'].values
m11_5    = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==11) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==5) , 'salesVolume'].values
m11_4    = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==11) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==4) , 'salesVolume'].values

m11_10_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==10), 'salesVolume'].values * m11_10
m11_9_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==9), 'salesVolume'].values * m11_9
m11_8_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==8), 'salesVolume'].values * m11_8
m11_7_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==7) , 'salesVolume'].values * m11_7
m11_6_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==6) , 'salesVolume'].values * m11_6
m11_5_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==5) , 'salesVolume'].values * m11_5
m11_4_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==4) , 'salesVolume'].values * m11_4


valid_data.loc[valid_data.regMonth==11, 'forecastVolum'] = ( m11_10_volum/2 + m11_9_volum/4 + m11_8_volum/8 + \
                                                      m11_7_volum/16 + m11_6_volum/32 + m11_5_volum/64 + m11_4_volum/64)
##### 12月
m12_11    = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==12) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==11), 'salesVolume'].values
m12_10    = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==12) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==10), 'salesVolume'].values
m12_9   = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==12) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==9), 'salesVolume'].values
m12_8   = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==12) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==8) , 'salesVolume'].values
m12_7   = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==12) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==7) , 'salesVolume'].values
m12_6    = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==12) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==6) , 'salesVolume'].values
m12_5    = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==12) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==5) , 'salesVolume'].values

m12_11_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==11), 'salesVolume'].values * m12_11
m12_10_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==10), 'salesVolume'].values * m12_10
m12_9_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==9), 'salesVolume'].values * m12_9
m12_8_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==8) , 'salesVolume'].values * m12_8
m12_7_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==7) , 'salesVolume'].values * m12_7
m12_6_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==6) , 'salesVolume'].values * m12_6
m12_5_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==5) , 'salesVolume'].values * m12_5


valid_data.loc[valid_data.regMonth==12, 'forecastVolum'] = ( m12_11_volum/2 + m12_10_volum/4 + m12_9_volum/8 + \
                                                      m12_8_volum/16 + m12_7_volum/32+ m12_6_volum/64 + m12_5_volum/64 )

In [14]:
valid_data.head()

,province,adcode,model,regYear,regMonth,salesVolume,forecastVolum
26400,上海,310000,3c974920a76ac9c1,2017,9,308,373.141622
26401,云南,530000,3c974920a76ac9c1,2017,9,306,240.292327
26402,内蒙古,150000,3c974920a76ac9c1,2017,9,176,166.263739
26403,北京,110000,3c974920a76ac9c1,2017,9,293,379.989124
26404,四川,510000,3c974920a76ac9c1,2017,9,449,590.413503

In [17]:
valid_data.tail()

,province,adcode,model,regYear,regMonth,salesVolume,forecastVolum
31675,福建,350000,a9a43d1a7ecbe75d,2017,12,112,104
31676,辽宁,210000,a9a43d1a7ecbe75d,2017,12,104,134
31677,重庆,500000,a9a43d1a7ecbe75d,2017,12,125,142
31678,陕西,610000,a9a43d1a7ecbe75d,2017,12,265,286
31679,黑龙江,230000,a9a43d1a7ecbe75d,2017,12,58,63

In [11]:
valid_data.head()

,province,adcode,model,regYear,regMonth,salesVolume,forecastVolum
26400,上海,310000,3c974920a76ac9c1,2017,9,308,371.435716
26401,云南,530000,3c974920a76ac9c1,2017,9,306,241.085177
26402,内蒙古,150000,3c974920a76ac9c1,2017,9,176,167.112612
26403,北京,110000,3c974920a76ac9c1,2017,9,293,367.769193
26404,四川,510000,3c974920a76ac9c1,2017,9,449,589.806075

In [12]:
valid_data.tail()

,province,adcode,model,regYear,regMonth,salesVolume,forecastVolum
31675,福建,350000,a9a43d1a7ecbe75d,2017,12,112,102.558759
31676,辽宁,210000,a9a43d1a7ecbe75d,2017,12,104,133.048448
31677,重庆,500000,a9a43d1a7ecbe75d,2017,12,125,143.685446
31678,陕西,610000,a9a43d1a7ecbe75d,2017,12,265,286.053537
31679,黑龙江,230000,a9a43d1a7ecbe75d,2017,12,58,62.292510

In [16]:
valid_data['forecastVolum'] = valid_data['forecastVolum'].apply(lambda x: 0 if x < 0 else int(round(x)))

In [18]:
valid_data.to_csv('valid_data.csv',index=False)