**滑窗示意图**

![滑窗示意图](https://camo.githubusercontent.com/fe618bee58393664eba2093c99e151bf756bba8e/687474703a2f2f75706c6f61642d696d616765732e6a69616e7368752e696f2f75706c6f61645f696d616765732f39393039372d643665336633386139623965633337392e706e673f696d6167654d6f6772322f6175746f2d6f7269656e742f7374726970253743696d61676556696577322f322f772f31323430)

In [55]:
from datetime import date
import numpy as np
import pandas as pd
import matplotlib as plt
import xgboost as xgb
from sklearn.preprocessing import MinMaxScaler

In [2]:
off_train = pd.read_csv('ccf_offline_stage1_train.csv',header = None,keep_default_na=False)
off_train.columns = ['user_id','merchant_id','coupon_id','discount_rate','distance','date_received','date']
#2050 coupon_id. date_received:20160701~20160731, 76309 users(76307 in trainset, 35965 in online_trainset), 1559 merchants(1558 in trainset)
off_test = pd.read_csv('ccf_offline_stage1_test_revised.csv',header=None,keep_default_na=False)
off_test.columns = ['user_id','merchant_id','coupon_id','discount_rate','distance','date_received']
#11429826 record(872357 with coupon_id),762858 user(267448 in off_train)
on_train = pd.read_csv('ccf_online_stage1_train.csv',header=None,keep_default_na=False)
on_train.columns = ['user_id','merchant_id','action','coupon_id','discount_rate','date_received','date']
print("+++++++++++++++++++ off- train +++++++++++++++++")
print(off_train.head(3))
print("+++++++++++++++++++ off- test +++++++++++++++++")
print(off_test.head(3))
print("+++++++++++++++++++ online- train +++++++++++++++++")
print(on_train.head(3))

+++++++++++++++++++ off- train +++++++++++++++++
   user_id  merchant_id coupon_id discount_rate distance date_received  \
0  1439408         2632      null          null        0          null
1  1439408         4663     11002        150:20        1      20160528
2  1439408         2632      8591          20:1        0      20160217

       date
0  20160217
1      null
2      null
+++++++++++++++++++ off- test +++++++++++++++++
   user_id  merchant_id  coupon_id discount_rate distance  date_received
0  4129537          450       9983          30:5        1       20160712
1  6949378         1300       3429          30:5     null       20160706
2  2166529         7113       6928        200:20        5       20160727
+++++++++++++++++++ online- train +++++++++++++++++
    user_id  merchant_id  action  coupon_id discount_rate date_received  \
0  13740231        18907       2  100017492        500:50      20160513
1  13740231        34805       1       null          null          null
2  14336199        18907       0       null          null          null

       date
0      null
1  20160321
2  20160618

In [3]:
#滑窗处理,只用date或者date_received的话会漏掉数据
dataset3 = off_test
feature3 = off_train[((off_train.date>='20160315')&(off_train.date<='20160630'))|((off_train.date=='null')&(off_train.date_received>='20160315')&(off_train.date_received<='20160630'))]
dataset2 = off_train[(off_train.date_received>='20160515')&(off_train.date_received<='20160615')]
feature2 = off_train[(off_train.date>='20160201')&(off_train.date<='20160514')|((off_train.date=='null')&(off_train.date_received>='20160201')&(off_train.date_received<='20160514'))]
dataset1 = off_train[(off_train.date_received>='20160414')&(off_train.date_received<='20160514')]
feature1 = off_train[(off_train.date>='20160101')&(off_train.date<='20160413')|((off_train.date=='null')&(off_train.date_received>='20160101')&(off_train.date_received<='20160413'))]

In [4]:
feature1.head(5)

,user_id,merchant_id,coupon_id,discount_rate,distance,date_received,date
0,1439408,2632,null,null,0,null,20160217
2,1439408,2632,8591,20:1,0,20160217,null
3,1439408,2632,1078,20:1,0,20160319,null
8,2029232,3381,11951,200:20,1,20160129,null
16,2223968,3381,9776,10:5,2,20160129,null

In [5]:
t = dataset3[['user_id']]
t['this_month_user_receive_all_coupon_count'] = 1
t = t.groupby('user_id').agg('sum').reset_index() #将每个用户这个月有的优惠券相加

D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [6]:
t

       user_id  this_month_user_receive_all_coupon_count
0          209                                         2
1          215                                         1
2          316                                         1
3          417                                         1
4          432                                         1
5          448                                         5
6          452                                         2
7          470                                         1
8          569                                         1
9          728                                         1
10         736                                         2
11         738                                         2
12         766                                         3
13         878                                         1
14         892                                         1
15         983                                         1
16        1035                                         1
17        1202                                         1
18        1318                                         2
19        1461                                         2
20        1596                                         2
21        1658                                         2
22        1746                                         1
23        1756                                         2
24        1818                                         1
25        2026                                         2
26        2060                                         3
27        2588                                         1
28        2880                                         1
29        3136                                         2
...        ...                                       ...
76279  7358363                                         2
76280  7358411                                         1
76281  7358661                                         1
76282  7358723                                         1
76283  7358790                                         1
76284  7358815                                         1
76285  7358978                                         1
76286  7359068                                         1
76287  7359070                                         2
76288  7359119                                         1
76289  7359376                                         1
76290  7359448                                         1
76291  7359453                                         1
76292  7359538                                         2
76293  7359649                                         1
76294  7359692                                         3
76295  7359699                                         2
76296  7359794                                         1
76297  7359805                                         1
76298  7359809                                         1
76299  7360071                                         2
76300  7360401                                         2
76301  7360418                                         1
76302  7360432                                         1
76303  7360556                                         1
76304  7360651                                         1
76305  7360785                                         1
76306  7360845                                         1
76307  7360967                                         1
76308  7361024                                         2

[76309 rows x 2 columns]

In [7]:
t1 = dataset3[['user_id','coupon_id']]
t1['this_month_user_receive_same_coupon_count'] = 1
t1 = t1.groupby(['user_id','coupon_id']).agg('sum').reset_index()
t1

D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

        user_id  coupon_id  this_month_user_receive_same_coupon_count
0           209        825                                          1
1           209       7557                                          1
2           215       5488                                          1
3           316       3992                                          1
4           417      12465                                          1
5           432      10438                                          1
6           448      10927                                          4
7           448      13602                                          1
8           452       3992                                          1
9           452       6500                                          1
10          470       9983                                          1
11          569       3594                                          1
12          728      10418                                          1
13          736       3686                                          2
14          738       3647                                          1
15          738       9424                                          1
16          766       3429                                          1
17          766       8059                                          1
18          766       9983                                          1
19          878      13602                                          1
20          892       4727                                          1
21          983      13602                                          1
22         1035      10418                                          1
23         1202       6445                                          1
24         1318      11894                                          2
25         1461      13320                                          1
26         1461      13602                                          1
27         1596       3429                                          1
28         1596       9718                                          1
29         1658       9983                                          1
...         ...        ...                                        ...
105928  7358815      13602                                          1
105929  7358978      13398                                          1
105930  7359068      13602                                          1
105931  7359070      11093                                          2
105932  7359119      10418                                          1
105933  7359376      13602                                          1
105934  7359448      13602                                          1
105935  7359453       8499                                          1
105936  7359538       9983                                          1
105937  7359538      13602                                          1
105938  7359649        807                                          1
105939  7359692       8901                                          2
105940  7359692       9983                                          1
105941  7359699       6390                                          2
105942  7359794      13602                                          1
105943  7359805      13602                                          1
105944  7359809       3429                                          1
105945  7360071       4656                                          1
105946  7360071      12890                                          1
105947  7360401       2920                                          1
105948  7360401      13602                                          1
105949  7360418      13602                                          1
105950  7360432      13602                                          1
105951  7360556       8059                                          1
105952  7360651       5495                                          1
105953  7360785      10418                                          1
105954  7360845      13602                                          1
105955  7360967      13602                                          1
105956  7361024       2978                                          1
105957  7361024      13602                                          1

[105958 rows x 3 columns]

In [8]:
t2 = dataset3[['user_id','coupon_id','date_received']]
#t2.date_received = t2.date_received.astype('str')
t2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113640 entries, 0 to 113639
Data columns (total 3 columns):
user_id          113640 non-null int64
coupon_id        113640 non-null int64
date_received    113640 non-null int64
dtypes: int64(3)
memory usage: 2.6 MB

In [9]:
t2.date_received = t2.date_received.astype('str')
t2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113640 entries, 0 to 113639
Data columns (total 3 columns):
user_id          113640 non-null int64
coupon_id        113640 non-null int64
date_received    113640 non-null object
dtypes: int64(2), object(1)
memory usage: 2.6+ MB

D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [10]:
t2.head(5)

   user_id  coupon_id date_received
0  4129537       9983      20160712
1  6949378       3429      20160706
2  2166529       6928      20160727
3  2166529       1808      20160727
4  6172162       6500      20160708

In [11]:
t2_xxx = t2.groupby(['user_id','coupon_id'])['date_received'].agg(lambda x:':'.join(x))
t2_xxx

user_id  coupon_id
209      825                                     20160721
         7557                                    20160721
215      5488                                    20160703
316      3992                                    20160721
417      12465                                   20160712
432      10438                                   20160706
448      10927        20160710:20160707:20160706:20160704
         13602                                   20160701
452      3992                                    20160721
         6500                                    20160702
470      9983                                    20160710
569      3594                                    20160716
728      10418                                   20160714
736      3686                           20160713:20160724
738      3647                                    20160716
         9424                                    20160708
766      3429                                    20160717
         8059                                    20160705
         9983                                    20160706
878      13602                                   20160727
892      4727                                    20160703
983      13602                                   20160706
1035     10418                                   20160703
1202     6445                                    20160712
1318     11894                          20160728:20160720
1461     13320                                   20160731
         13602                                   20160711
1596     3429                                    20160705
         9718                                    20160719
1658     9983                                    20160711
                                     ...
7358815  13602                                   20160714
7358978  13398                                   20160725
7359068  13602                                   20160724
7359070  11093                          20160725:20160729
7359119  10418                                   20160709
7359376  13602                                   20160727
7359448  13602                                   20160725
7359453  8499                                    20160721
7359538  9983                                    20160712
         13602                                   20160704
7359649  807                                     20160727
7359692  8901                           20160713:20160725
         9983                                    20160720
7359699  6390                           20160720:20160727
7359794  13602                                   20160726
7359805  13602                                   20160703
7359809  3429                                    20160713
7360071  4656                                    20160717
         12890                                   20160704
7360401  2920                                    20160728
         13602                                   20160724
7360418  13602                                   20160716
7360432  13602                                   20160710
7360556  8059                                    20160703
7360651  5495                                    20160701
7360785  10418                                   20160704
7360845  13602                                   20160716
7360967  13602                                   20160704
7361024  2978                                    20160715
         13602                                   20160715
Name: date_received, Length: 105958, dtype: object

In [12]:
t2 = t2.groupby(['user_id','coupon_id'])['date_received'].agg(lambda x:':'.join(x)).reset_index()
t2

        user_id  coupon_id                        date_received
0           209        825                             20160721
1           209       7557                             20160721
2           215       5488                             20160703
3           316       3992                             20160721
4           417      12465                             20160712
5           432      10438                             20160706
6           448      10927  20160710:20160707:20160706:20160704
7           448      13602                             20160701
8           452       3992                             20160721
9           452       6500                             20160702
10          470       9983                             20160710
11          569       3594                             20160716
12          728      10418                             20160714
13          736       3686                    20160713:20160724
14          738       3647                             20160716
15          738       9424                             20160708
16          766       3429                             20160717
17          766       8059                             20160705
18          766       9983                             20160706
19          878      13602                             20160727
20          892       4727                             20160703
21          983      13602                             20160706
22         1035      10418                             20160703
23         1202       6445                             20160712
24         1318      11894                    20160728:20160720
25         1461      13320                             20160731
26         1461      13602                             20160711
27         1596       3429                             20160705
28         1596       9718                             20160719
29         1658       9983                             20160711
...         ...        ...                                  ...
105928  7358815      13602                             20160714
105929  7358978      13398                             20160725
105930  7359068      13602                             20160724
105931  7359070      11093                    20160725:20160729
105932  7359119      10418                             20160709
105933  7359376      13602                             20160727
105934  7359448      13602                             20160725
105935  7359453       8499                             20160721
105936  7359538       9983                             20160712
105937  7359538      13602                             20160704
105938  7359649        807                             20160727
105939  7359692       8901                    20160713:20160725
105940  7359692       9983                             20160720
105941  7359699       6390                    20160720:20160727
105942  7359794      13602                             20160726
105943  7359805      13602                             20160703
105944  7359809       3429                             20160713
105945  7360071       4656                             20160717
105946  7360071      12890                             20160704
105947  7360401       2920                             20160728
105948  7360401      13602                             20160724
105949  7360418      13602                             20160716
105950  7360432      13602                             20160710
105951  7360556       8059                             20160703
105952  7360651       5495                             20160701
105953  7360785      10418                             20160704
105954  7360845      13602                             20160716
105955  7360967      13602                             20160704
105956  7361024       2978                             20160715
105957  7361024      13602                             20160715

[105958 rows x 3 columns]

In [13]:
t2['receive_number'] = t2.date_received.apply(lambda s:len(s.split(':')))
t2

,user_id,coupon_id,date_received,receive_number
0,209,825,20160721,1
1,209,7557,20160721,1
2,215,5488,20160703,1
3,316,3992,20160721,1
4,417,12465,20160712,1
5,432,10438,20160706,1
6,448,10927,20160710:20160707:20160706:20160704,4
7,448,13602,20160701,1
8,452,3992,20160721,1
9,452,6500,20160702,1
10,470,9983,20160710,1
11,569,3594,20160716,1
12,728,10418,20160714,1
13,736,3686,20160713:20160724,2
14,738,3647,20160716,1
15,738,9424,20160708,1
16,766,3429,20160717,1
17,766,8059,20160705,1
18,766,9983,20160706,1
19,878,13602,20160727,1
20,892,4727,20160703,1
21,983,13602,20160706,1
22,1035,10418,20160703,1
23,1202,6445,20160712,1
24,1318,11894,20160728:20160720,2
25,1461,13320,20160731,1
26,1461,13602,20160711,1
27,1596,3429,20160705,1
28,1596,9718,20160719,1
29,1658,9983,20160711,1
...,...,...,...,...
105928,7358815,13602,20160714,1
105929,7358978,13398,20160725,1
105930,7359068,13602,20160724,1
105931,7359070,11093,20160725:20160729,2
105932,7359119,10418,20160709,1
105933,7359376,13602,20160727,1
105934,7359448,13602,20160725,1
105935,7359453,8499,20160721,1
105936,7359538,9983,20160712,1
105937,7359538,13602,20160704,1
105938,7359649,807,20160727,1
105939,7359692,8901,20160713:20160725,2
105940,7359692,9983,20160720,1
105941,7359699,6390,20160720:20160727,2
105942,7359794,13602,20160726,1
105943,7359805,13602,20160703,1
105944,7359809,3429,20160713,1
105945,7360071,4656,20160717,1
105946,7360071,12890,20160704,1
105947,7360401,2920,20160728,1
105948,7360401,13602,20160724,1
105949,7360418,13602,20160716,1
105950,7360432,13602,20160710,1
105951,7360556,8059,20160703,1
105952,7360651,5495,20160701,1
105953,7360785,10418,20160704,1
105954,7360845,13602,20160716,1
105955,7360967,13602,20160704,1
105956,7361024,2978,20160715,1
105957,7361024,13602,20160715,1

In [14]:
t2 = t2[t2.receive_number>1]
t2['max_date_received'] = t2.date_received.apply(lambda s:max([int(d) for d in s.split(':')]))
t2['min_date_received'] = t2.date_received.apply(lambda s:min([int(d) for d in s.split(':')]))
t2 = t2[['user_id','coupon_id','max_date_received','min_date_received']]
t2

D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

        user_id  coupon_id  max_date_received  min_date_received
6           448      10927           20160710           20160704
13          736       3686           20160724           20160713
24         1318      11894           20160728           20160720
128        9208       6335           20160716           20160703
155       11170      11873           20160730           20160715
207       14321       2111           20160730           20160712
210       14360       5035           20160729           20160718
219       14916       2197           20160723           20160721
262       17589      10141           20160729           20160702
293       19732       9639           20160722           20160718
324       21564       3944           20160715           20160713
375       25208      11894           20160716           20160714
406       27134      12061           20160715           20160709
528       36397       2435           20160723           20160720
584       40900      13267           20160730           20160723
644       46054      13164           20160716           20160715
663       47130       2111           20160731           20160722
667       47166      10887           20160727           20160726
681       48772       1137           20160724           20160710
737       52816      10028           20160712           20160704
746       53331       2357           20160722           20160721
809       57413      11535           20160718           20160705
810       57607       2693           20160731           20160723
813       57920       4727           20160724           20160705
870       60984       5412           20160719           20160704
891       62354       6500           20160706           20160701
924       64163      12239           20160707           20160705
960       66842       1699           20160722           20160716
961       66842      12229           20160722           20160716
969       68038        864           20160727           20160722
...         ...        ...                ...                ...
105218  7309637       2002           20160718           20160706
105247  7311793       7965           20160728           20160708
105271  7312926       7233           20160727           20160724
105332  7316985      11463           20160712           20160706
105345  7317703      10059           20160730           20160701
105368  7319875       8042           20160728           20160728
105412  7323351       8306           20160712           20160704
105437  7325241       9436           20160703           20160701
105444  7325646      10858           20160728           20160704
105463  7327991       2719           20160708           20160707
105467  7328595       8306           20160727           20160719
105476  7329343       8181           20160728           20160723
105497  7330420       4277           20160714           20160710
105498  7330524       4727           20160708           20160701
105550  7333636       1879           20160711           20160705
105561  7334150       8596           20160722           20160722
105603  7337448      12913           20160706           20160701
105635  7339883       8182           20160713           20160709
105643  7340385       5840           20160731           20160709
105747  7346141       6500           20160709           20160701
105748  7346177       7218           20160730           20160730
105774  7348015       4956           20160703           20160702
105795  7349391       2002           20160716           20160716
105804  7349737      11379           20160730           20160716
105807  7350176       4369           20160706           20160706
105816  7350682       3594           20160712           20160712
105886  7356495       6258           20160722           20160711
105931  7359070      11093           20160729           20160725
105939  7359692       8901           20160725           20160713
105941  7359699       6390           20160727           20160720

[3994 rows x 4 columns]

In [15]:
t3 = dataset3[['user_id','coupon_id','date_received']]
t3 = pd.merge(t3,t2,on=['user_id','coupon_id'],how='left')
t3

,user_id,coupon_id,date_received,max_date_received,min_date_received
0,4129537,9983,20160712,NaN,NaN
1,6949378,3429,20160706,NaN,NaN
2,2166529,6928,20160727,NaN,NaN
3,2166529,1808,20160727,NaN,NaN
4,6172162,6500,20160708,NaN,NaN
5,4005121,9983,20160706,NaN,NaN
6,4347394,9983,20160716,NaN,NaN
7,3094273,13602,20160727,NaN,NaN
8,5139970,9983,20160729,NaN,NaN
9,3237121,13602,20160703,NaN,NaN
10,6224386,9983,20160716,NaN,NaN
11,6488578,13602,20160712,NaN,NaN
12,4164865,9983,20160703,NaN,NaN
13,4164865,8059,20160706,NaN,NaN
14,5468674,9983,20160713,NaN,NaN
15,6258178,9144,20160706,NaN,NaN
16,3659521,7341,20160727,NaN,NaN
17,3659521,13181,20160717,NaN,NaN
18,3659521,13602,20160718,NaN,NaN
19,7333378,13602,20160704,NaN,NaN
20,7333378,785,20160727,NaN,NaN
21,4454914,2978,20160711,NaN,NaN
22,6817282,8375,20160724,NaN,NaN
23,3149569,10418,20160721,NaN,NaN
24,6301186,1715,20160718,NaN,NaN
25,6301186,4203,20160708,NaN,NaN
26,2891521,13602,20160724,NaN,NaN
27,3422977,13602,20160727,NaN,NaN
28,4771330,13602,20160726,NaN,NaN
29,4513282,11799,20160712,NaN,NaN
...,...,...,...,...,...
113610,4194809,11799,20160717,NaN,NaN
113611,4194809,13602,20160713,NaN,NaN
113612,6062585,10438,20160719,NaN,NaN
113613,6062585,13602,20160719,NaN,NaN
113614,6074873,878,20160724,NaN,NaN
113615,6342137,13602,20160728,NaN,NaN
113616,6342137,8059,20160704,NaN,NaN
113617,6342137,9822,20160724,NaN,NaN
113618,6342137,3429,20160718,NaN,NaN
113619,4317689,5933,20160727,NaN,NaN
113620,5110265,13602,20160711,NaN,NaN
113621,5110265,9983,20160711,NaN,NaN
113622,6422009,5874,20160710,NaN,NaN
113623,4851197,9983,20160713,NaN,NaN
113624,4894205,2978,20160711,NaN,NaN
113625,7253501,13602,20160714,NaN,NaN
113626,6485501,13602,20160720,NaN,NaN
113627,4918781,10438,20160723,NaN,NaN
113628,6497789,9983,20160716,NaN,NaN
113629,7047677,2601,20160708,NaN,NaN
113630,6786557,9983,20160718,NaN,NaN
113631,6801917,13602,20160719,NaN,NaN
113632,7066109,9144,20160705,NaN,NaN
113633,4451837,13602,20160723,NaN,NaN
113634,5828093,2978,20160716,NaN,NaN
113635,5828093,10418,20160716,NaN,NaN
113636,6626813,7595,20160707,NaN,NaN
113637,6626813,7590,20160712,NaN,NaN
113638,4547069,13602,20160717,NaN,NaN
113639,6675965,613,20160728,NaN,NaN

In [16]:
t3['this_month_user_receive_same_coupon_lastone'] = t3.max_date_received - t3.date_received
t3['this_month_user_receive_same_coupon_firstone'] = t3.date_received - t3.min_date_received
def is_firstlastone(x):
    if x==0:
        return 1
    elif x>0:
        return 0
    else:
        return -1 #those only receive once

In [17]:
t3.this_month_user_receive_same_coupon_lastone = t3.this_month_user_receive_same_coupon_lastone.apply(is_firstlastone)
t3.this_month_user_receive_same_coupon_firstone = t3.this_month_user_receive_same_coupon_firstone.apply(is_firstlastone)
t3 = t3[['user_id','coupon_id','date_received','this_month_user_receive_same_coupon_lastone','this_month_user_receive_same_coupon_firstone']]

In [18]:
t4 = dataset3[['user_id','date_received']]
t4['this_day_user_receive_all_coupon_count'] = 1
t4 = t4.groupby(['user_id','date_received']).agg('sum').reset_index()
t4

D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

        user_id  date_received  this_day_user_receive_all_coupon_count
0           209       20160721                                       2
1           215       20160703                                       1
2           316       20160721                                       1
3           417       20160712                                       1
4           432       20160706                                       1
5           448       20160701                                       1
6           448       20160704                                       1
7           448       20160706                                       1
8           448       20160707                                       1
9           448       20160710                                       1
10          452       20160702                                       1
11          452       20160721                                       1
12          470       20160710                                       1
13          569       20160716                                       1
14          728       20160714                                       1
15          736       20160713                                       1
16          736       20160724                                       1
17          738       20160708                                       1
18          738       20160716                                       1
19          766       20160705                                       1
20          766       20160706                                       1
21          766       20160717                                       1
22          878       20160727                                       1
23          892       20160703                                       1
24          983       20160706                                       1
25         1035       20160703                                       1
26         1202       20160712                                       1
27         1318       20160720                                       1
28         1318       20160728                                       1
29         1461       20160711                                       1
...         ...            ...                                     ...
105575  7359068       20160724                                       1
105576  7359070       20160725                                       1
105577  7359070       20160729                                       1
105578  7359119       20160709                                       1
105579  7359376       20160727                                       1
105580  7359448       20160725                                       1
105581  7359453       20160721                                       1
105582  7359538       20160704                                       1
105583  7359538       20160712                                       1
105584  7359649       20160727                                       1
105585  7359692       20160713                                       1
105586  7359692       20160720                                       1
105587  7359692       20160725                                       1
105588  7359699       20160720                                       1
105589  7359699       20160727                                       1
105590  7359794       20160726                                       1
105591  7359805       20160703                                       1
105592  7359809       20160713                                       1
105593  7360071       20160704                                       1
105594  7360071       20160717                                       1
105595  7360401       20160724                                       1
105596  7360401       20160728                                       1
105597  7360418       20160716                                       1
105598  7360432       20160710                                       1
105599  7360556       20160703                                       1
105600  7360651       20160701                                       1
105601  7360785       20160704                                       1
105602  7360845       20160716                                       1
105603  7360967       20160704                                       1
105604  7361024       20160715                                       2

[105605 rows x 3 columns]

In [19]:
t5 = dataset3[['user_id','coupon_id','date_received']]
t5['this_day_user_receive_same_coupon_count'] = 1
t5 = t5.groupby(['user_id','coupon_id','date_received']).agg('sum').reset_index()

D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
t6 = dataset3[['user_id','coupon_id','date_received']]
t6.date_received = t6.date_received.astype('str')
t6 = t6.groupby(['user_id','coupon_id'])['date_received'].agg(lambda x:':'.join(x)).reset_index()
t6.rename(columns={'date_received':'dates'},inplace=True)

D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [21]:
def get_day_gap_before(s):
    date_received,dates = s.split('-')
    dates = dates.split(':')
    gaps = []
    for d in dates:
        this_gap = (date(int(date_received[0:4]),int(date_received[4:6]),int(date_received[6:8]))-date(int(d[0:4]),int(d[4:6]),int(d[6:8]))).days
        if this_gap>0:
            gaps.append(this_gap)
    if len(gaps)==0:
        return -1
    else:
        return min(gaps)
        
def get_day_gap_after(s):
    date_received,dates = s.split('-')
    dates = dates.split(':')
    gaps = []
    for d in dates:
        this_gap = (date(int(d[0:4]),int(d[4:6]),int(d[6:8]))-date(int(date_received[0:4]),int(date_received[4:6]),int(date_received[6:8]))).days
        if this_gap>0:
            gaps.append(this_gap)
    if len(gaps)==0:
        return -1
    else:
        return min(gaps)

In [22]:
t7 = dataset3[['user_id','coupon_id','date_received']]
t7 = pd.merge(t7,t6,on=['user_id','coupon_id'],how='left')
t7['date_received_date'] = t7.date_received.astype('str') + '-' + t7.dates
t7['day_gap_before'] = t7.date_received_date.apply(get_day_gap_before)
t7['day_gap_after'] = t7.date_received_date.apply(get_day_gap_after)
t7 = t7[['user_id','coupon_id','date_received','day_gap_before','day_gap_after']]
t7

        user_id  coupon_id  date_received  day_gap_before  day_gap_after
0       4129537       9983       20160712              -1             -1
1       6949378       3429       20160706              -1             -1
2       2166529       6928       20160727              -1             -1
3       2166529       1808       20160727              -1             -1
4       6172162       6500       20160708              -1             -1
5       4005121       9983       20160706              -1             -1
6       4347394       9983       20160716              -1             -1
7       3094273      13602       20160727              -1             -1
8       5139970       9983       20160729              -1             -1
9       3237121      13602       20160703              -1             -1
10      6224386       9983       20160716              -1             -1
11      6488578      13602       20160712              -1             -1
12      4164865       9983       20160703              -1             -1
13      4164865       8059       20160706              -1             -1
14      5468674       9983       20160713              -1             -1
15      6258178       9144       20160706              -1             -1
16      3659521       7341       20160727              -1             -1
17      3659521      13181       20160717              -1             -1
18      3659521      13602       20160718              -1             -1
19      7333378      13602       20160704              -1             -1
20      7333378        785       20160727              -1             -1
21      4454914       2978       20160711              -1             -1
22      6817282       8375       20160724              -1             -1
23      3149569      10418       20160721              -1             -1
24      6301186       1715       20160718              -1             -1
25      6301186       4203       20160708              -1             -1
26      2891521      13602       20160724              -1             -1
27      3422977      13602       20160727              -1             -1
28      4771330      13602       20160726              -1             -1
29      4513282      11799       20160712              -1             -1
...         ...        ...            ...             ...            ...
113610  4194809      11799       20160717              -1             -1
113611  4194809      13602       20160713              -1             -1
113612  6062585      10438       20160719              -1             -1
113613  6062585      13602       20160719              -1             -1
113614  6074873        878       20160724              -1             -1
113615  6342137      13602       20160728              -1             -1
113616  6342137       8059       20160704              -1             -1
113617  6342137       9822       20160724              -1             -1
113618  6342137       3429       20160718              -1             -1
113619  4317689       5933       20160727              -1             -1
113620  5110265      13602       20160711              -1             -1
113621  5110265       9983       20160711              -1             -1
113622  6422009       5874       20160710              -1             -1
113623  4851197       9983       20160713              -1             -1
113624  4894205       2978       20160711              -1             -1
113625  7253501      13602       20160714              -1             -1
113626  6485501      13602       20160720              -1             -1
113627  4918781      10438       20160723              -1             -1
113628  6497789       9983       20160716              -1             -1
113629  7047677       2601       20160708              -1             -1
113630  6786557       9983       20160718              -1             -1
113631  6801917      13602       20160719              -1             -1
113632  7066109       9144       20160705              -1             -1
113633  4451837      13602       20160723              -1             -1
113634  5828093       2978       20160716              -1             -1
113635  5828093      10418       20160716              -1             -1
113636  6626813       7595       20160707              -1             -1
113637  6626813       7590       20160712              -1             -1
113638  4547069      13602       20160717              -1             -1
113639  6675965        613       20160728              -1             -1

[113640 rows x 5 columns]

In [23]:
other_feature3 = pd.merge(t1,t,on='user_id')
other_feature3 = pd.merge(other_feature3,t3,on=['user_id','coupon_id'])
other_feature3 = pd.merge(other_feature3,t4,on=['user_id','date_received'])
other_feature3 = pd.merge(other_feature3,t5,on=['user_id','coupon_id','date_received'])
other_feature3 = pd.merge(other_feature3,t7,on=['user_id','coupon_id','date_received'])
other_feature3.to_csv('other_feature3.csv',index=None)
print (other_feature3.shape)
other_feature3.head(5)

(116204, 11)

,user_id,coupon_id,this_month_user_receive_same_coupon_count,this_month_user_receive_all_coupon_count,date_received,this_month_user_receive_same_coupon_lastone,this_month_user_receive_same_coupon_firstone,this_day_user_receive_all_coupon_count,this_day_user_receive_same_coupon_count,day_gap_before,day_gap_after
0,209,825,1,2,20160721,-1,-1,2,1,-1,-1
1,209,7557,1,2,20160721,-1,-1,2,1,-1,-1
2,215,5488,1,1,20160703,-1,-1,1,1,-1,-1
3,316,3992,1,1,20160721,-1,-1,1,1,-1,-1
4,417,12465,1,1,20160712,-1,-1,1,1,-1,-1

In [24]:
#for dataset2
t = dataset2[['user_id']]
t['this_month_user_receive_all_coupon_count'] = 1
t = t.groupby('user_id').agg('sum').reset_index()

t1 = dataset2[['user_id','coupon_id']]
t1['this_month_user_receive_same_coupon_count'] = 1
t1 = t1.groupby(['user_id','coupon_id']).agg('sum').reset_index()

t2 = dataset2[['user_id','coupon_id','date_received']]
t2.date_received = t2.date_received.astype('str')
t2 = t2.groupby(['user_id','coupon_id'])['date_received'].agg(lambda x:':'.join(x)).reset_index()
t2['receive_number'] = t2.date_received.apply(lambda s:len(s.split(':')))
t2 = t2[t2.receive_number>1]
t2['max_date_received'] = t2.date_received.apply(lambda s:max([int(d) for d in s.split(':')]))
t2['min_date_received'] = t2.date_received.apply(lambda s:min([int(d) for d in s.split(':')]))
t2 = t2[['user_id','coupon_id','max_date_received','min_date_received']]

t3 = dataset2[['user_id','coupon_id','date_received']]
t3 = pd.merge(t3,t2,on=['user_id','coupon_id'],how='left')
t3['this_month_user_receive_same_coupon_lastone'] = t3.max_date_received - t3.date_received.astype('int')
t3['this_month_user_receive_same_coupon_firstone'] = t3.date_received.astype('int') - t3.min_date_received
def is_firstlastone(x):
    if x==0:
        return 1
    elif x>0:
        return 0
    else:
        return -1 #those only receive once
        
t3.this_month_user_receive_same_coupon_lastone = t3.this_month_user_receive_same_coupon_lastone.apply(is_firstlastone)
t3.this_month_user_receive_same_coupon_firstone = t3.this_month_user_receive_same_coupon_firstone.apply(is_firstlastone)
t3 = t3[['user_id','coupon_id','date_received','this_month_user_receive_same_coupon_lastone','this_month_user_receive_same_coupon_firstone']]

t4 = dataset2[['user_id','date_received']]
t4['this_day_user_receive_all_coupon_count'] = 1
t4 = t4.groupby(['user_id','date_received']).agg('sum').reset_index()

t5 = dataset2[['user_id','coupon_id','date_received']]
t5['this_day_user_receive_same_coupon_count'] = 1
t5 = t5.groupby(['user_id','coupon_id','date_received']).agg('sum').reset_index()

t6 = dataset2[['user_id','coupon_id','date_received']]
t6.date_received = t6.date_received.astype('str')
t6 = t6.groupby(['user_id','coupon_id'])['date_received'].agg(lambda x:':'.join(x)).reset_index()
t6.rename(columns={'date_received':'dates'},inplace=True)

def get_day_gap_before(s):
    date_received,dates = s.split('-')
    dates = dates.split(':')
    gaps = []
    for d in dates:
        this_gap = (date(int(date_received[0:4]),int(date_received[4:6]),int(date_received[6:8]))-date(int(d[0:4]),int(d[4:6]),int(d[6:8]))).days
        if this_gap>0:
            gaps.append(this_gap)
    if len(gaps)==0:
        return -1
    else:
        return min(gaps)
        
def get_day_gap_after(s):
    date_received,dates = s.split('-')
    dates = dates.split(':')
    gaps = []
    for d in dates:
        this_gap = (date(int(d[0:4]),int(d[4:6]),int(d[6:8]))-date(int(date_received[0:4]),int(date_received[4:6]),int(date_received[6:8]))).days
        if this_gap>0:
            gaps.append(this_gap)
    if len(gaps)==0:
        return -1
    else:
        return min(gaps)
    

t7 = dataset2[['user_id','coupon_id','date_received']]
t7 = pd.merge(t7,t6,on=['user_id','coupon_id'],how='left')
t7['date_received_date'] = t7.date_received.astype('str') + '-' + t7.dates
t7['day_gap_before'] = t7.date_received_date.apply(get_day_gap_before)
t7['day_gap_after'] = t7.date_received_date.apply(get_day_gap_after)
t7 = t7[['user_id','coupon_id','date_received','day_gap_before','day_gap_after']]

other_feature2 = pd.merge(t1,t,on='user_id')
other_feature2 = pd.merge(other_feature2,t3,on=['user_id','coupon_id'])
other_feature2 = pd.merge(other_feature2,t4,on=['user_id','date_received'])
other_feature2 = pd.merge(other_feature2,t5,on=['user_id','coupon_id','date_received'])
other_feature2 = pd.merge(other_feature2,t7,on=['user_id','coupon_id','date_received'])
other_feature2.to_csv('other_feature2.csv',index=None)
print (other_feature2.shape)



#for dataset1
t = dataset1[['user_id']]
t['this_month_user_receive_all_coupon_count'] = 1
t = t.groupby('user_id').agg('sum').reset_index()

t1 = dataset1[['user_id','coupon_id']]
t1['this_month_user_receive_same_coupon_count'] = 1
t1 = t1.groupby(['user_id','coupon_id']).agg('sum').reset_index()

t2 = dataset1[['user_id','coupon_id','date_received']]
t2.date_received = t2.date_received.astype('str')
t2 = t2.groupby(['user_id','coupon_id'])['date_received'].agg(lambda x:':'.join(x)).reset_index()
t2['receive_number'] = t2.date_received.apply(lambda s:len(s.split(':')))
t2 = t2[t2.receive_number>1]
t2['max_date_received'] = t2.date_received.apply(lambda s:max([int(d) for d in s.split(':')]))
t2['min_date_received'] = t2.date_received.apply(lambda s:min([int(d) for d in s.split(':')]))
t2 = t2[['user_id','coupon_id','max_date_received','min_date_received']]

t3 = dataset1[['user_id','coupon_id','date_received']]
t3 = pd.merge(t3,t2,on=['user_id','coupon_id'],how='left')
t3['this_month_user_receive_same_coupon_lastone'] = t3.max_date_received - t3.date_received.astype('int')
t3['this_month_user_receive_same_coupon_firstone'] = t3.date_received.astype('int') - t3.min_date_received
def is_firstlastone(x):
    if x==0:
        return 1
    elif x>0:
        return 0
    else:
        return -1 #those only receive once
        
t3.this_month_user_receive_same_coupon_lastone = t3.this_month_user_receive_same_coupon_lastone.apply(is_firstlastone)
t3.this_month_user_receive_same_coupon_firstone = t3.this_month_user_receive_same_coupon_firstone.apply(is_firstlastone)
t3 = t3[['user_id','coupon_id','date_received','this_month_user_receive_same_coupon_lastone','this_month_user_receive_same_coupon_firstone']]

t4 = dataset1[['user_id','date_received']]
t4['this_day_user_receive_all_coupon_count'] = 1
t4 = t4.groupby(['user_id','date_received']).agg('sum').reset_index()

t5 = dataset1[['user_id','coupon_id','date_received']]
t5['this_day_user_receive_same_coupon_count'] = 1
t5 = t5.groupby(['user_id','coupon_id','date_received']).agg('sum').reset_index()

t6 = dataset1[['user_id','coupon_id','date_received']]
t6.date_received = t6.date_received.astype('str')
t6 = t6.groupby(['user_id','coupon_id'])['date_received'].agg(lambda x:':'.join(x)).reset_index()
t6.rename(columns={'date_received':'dates'},inplace=True)

def get_day_gap_before(s):
    date_received,dates = s.split('-')
    dates = dates.split(':')
    gaps = []
    for d in dates:
        this_gap = (date(int(date_received[0:4]),int(date_received[4:6]),int(date_received[6:8]))-date(int(d[0:4]),int(d[4:6]),int(d[6:8]))).days
        if this_gap>0:
            gaps.append(this_gap)
    if len(gaps)==0:
        return -1
    else:
        return min(gaps)
        
def get_day_gap_after(s):
    date_received,dates = s.split('-')
    dates = dates.split(':')
    gaps = []
    for d in dates:
        this_gap = (date(int(d[0:4]),int(d[4:6]),int(d[6:8]))-date(int(date_received[0:4]),int(date_received[4:6]),int(date_received[6:8]))).days
        if this_gap>0:
            gaps.append(this_gap)
    if len(gaps)==0:
        return -1
    else:
        return min(gaps)
    

t7 = dataset1[['user_id','coupon_id','date_received']]
t7 = pd.merge(t7,t6,on=['user_id','coupon_id'],how='left')
t7['date_received_date'] = t7.date_received.astype('str') + '-' + t7.dates
t7['day_gap_before'] = t7.date_received_date.apply(get_day_gap_before)
t7['day_gap_after'] = t7.date_received_date.apply(get_day_gap_after)
t7 = t7[['user_id','coupon_id','date_received','day_gap_before','day_gap_after']]

other_feature1 = pd.merge(t1,t,on='user_id')
other_feature1 = pd.merge(other_feature1,t3,on=['user_id','coupon_id'])
other_feature1 = pd.merge(other_feature1,t4,on=['user_id','date_received'])
other_feature1 = pd.merge(other_feature1,t5,on=['user_id','coupon_id','date_received'])
other_feature1 = pd.merge(other_feature1,t7,on=['user_id','coupon_id','date_received'])
other_feature1.to_csv('other_feature1.csv',index=None)
print (other_feature1.shape)

D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

(262240, 11)

D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:98: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:127: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:131: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

(139785, 11)

In [45]:
############# coupon related feature   #############
"""
2.coupon related: 
      discount_rate. discount_man. discount_jian. is_man_jian
      day_of_week,day_of_month. (date_received)
"""
def calc_discount_rate(s):
    s =str(s)
    s = s.split(':')
    if len(s)==1:
        return float(s[0])
    else:
        return 1.0-float(s[1])/float(s[0])

def get_discount_man(s):
    s =str(s)
    s = s.split(':')
    if len(s)==1:
        return 'null'
    else:
        return int(s[0])
        
def get_discount_jian(s):
    s =str(s)
    s = s.split(':')
    if len(s)==1:
        return 'null'
    else:
        return int(s[1])

def is_man_jian(s):
    s =str(s)
    s = s.split(':')
    if len(s)==1:
        return 0
    else:
        return 1

#dataset3
dataset3['day_of_week'] = dataset3.date_received.astype('str').apply(lambda x:date(int(x[0:4]),int(x[4:6]),int(x[6:8])).weekday()+1)
dataset3['day_of_month'] = dataset3.date_received.astype('str').apply(lambda x:int(x[6:8]))
dataset3['days_distance'] = dataset3.date_received.astype('str').apply(lambda x:(date(int(x[0:4]),int(x[4:6]),int(x[6:8]))-date(2016,6,30)).days)
dataset3['discount_man'] = dataset3.discount_rate.apply(get_discount_man)
dataset3['discount_jian'] = dataset3.discount_rate.apply(get_discount_jian)
dataset3['is_man_jian'] = dataset3.discount_rate.apply(is_man_jian)
dataset3['discount_rate'] = dataset3.discount_rate.apply(calc_discount_rate)
d = dataset3[['coupon_id']]
d['coupon_count'] = 1
d = d.groupby('coupon_id').agg('sum').reset_index()
dataset3 = pd.merge(dataset3,d,on='coupon_id',how='left')
dataset3.to_csv('coupon3_feature.csv',index=None)
#dataset2
dataset2['day_of_week'] = dataset2.date_received.astype('str').apply(lambda x:date(int(x[0:4]),int(x[4:6]),int(x[6:8])).weekday()+1)
dataset2['day_of_month'] = dataset2.date_received.astype('str').apply(lambda x:int(x[6:8]))
dataset2['days_distance'] = dataset2.date_received.astype('str').apply(lambda x:(date(int(x[0:4]),int(x[4:6]),int(x[6:8]))-date(2016,5,14)).days)
dataset2['discount_man'] = dataset2.discount_rate.apply(get_discount_man)
dataset2['discount_jian'] = dataset2.discount_rate.apply(get_discount_jian)
dataset2['is_man_jian'] = dataset2.discount_rate.apply(is_man_jian)
dataset2['discount_rate'] = dataset2.discount_rate.apply(calc_discount_rate)
d = dataset2[['coupon_id']]
d['coupon_count'] = 1
d = d.groupby('coupon_id').agg('sum').reset_index()
dataset2 = pd.merge(dataset2,d,on='coupon_id',how='left')
dataset2.to_csv('coupon2_feature.csv',index=None)
#dataset1
dataset1['day_of_week'] = dataset1.date_received.astype('str').apply(lambda x:date(int(x[0:4]),int(x[4:6]),int(x[6:8])).weekday()+1)
dataset1['day_of_month'] = dataset1.date_received.astype('str').apply(lambda x:int(x[6:8]))
dataset1['days_distance'] = dataset1.date_received.astype('str').apply(lambda x:(date(int(x[0:4]),int(x[4:6]),int(x[6:8]))-date(2016,4,13)).days)
dataset1['discount_man'] = dataset1.discount_rate.apply(get_discount_man)
dataset1['discount_jian'] = dataset1.discount_rate.apply(get_discount_jian)
dataset1['is_man_jian'] = dataset1.discount_rate.apply(is_man_jian)
dataset1['discount_rate'] = dataset1.discount_rate.apply(calc_discount_rate)
d = dataset1[['coupon_id']]
d['coupon_count'] = 1
d = d.groupby('coupon_id').agg('sum').reset_index()
dataset1 = pd.merge(dataset1,d,on='coupon_id',how='left')
dataset1.to_csv('coupon1_feature.csv',index=None)



############# merchant related feature   #############
"""
1.merchant related: 
      total_sales. sales_use_coupon.  total_coupon
      coupon_rate = sales_use_coupon/total_sales.  
      transfer_rate = sales_use_coupon/total_coupon. 
      merchant_avg_distance,merchant_min_distance,merchant_max_distance of those use coupon
"""

#for dataset3
merchant3 = feature3[['merchant_id','coupon_id','distance','date_received','date']]

t = merchant3[['merchant_id']]
t.drop_duplicates(inplace=True)

t1 = merchant3[merchant3.date!='null'][['merchant_id']]
t1['total_sales'] = 1
t1 = t1.groupby('merchant_id').agg('sum').reset_index()

t2 = merchant3[(merchant3.date!='null')&(merchant3.coupon_id!='null')][['merchant_id']]
t2['sales_use_coupon'] = 1
t2 = t2.groupby('merchant_id').agg('sum').reset_index()

t3 = merchant3[merchant3.coupon_id!='null'][['merchant_id']]
t3['total_coupon'] = 1
t3 = t3.groupby('merchant_id').agg('sum').reset_index()

t4 = merchant3[(merchant3.date!='null')&(merchant3.coupon_id!='null')][['merchant_id','distance']]
t4.replace('null',-1,inplace=True)
t4.distance = t4.distance.astype('int')
t4.replace(-1,np.nan,inplace=True)
t5 = t4.groupby('merchant_id').agg('min').reset_index()
t5.rename(columns={'distance':'merchant_min_distance'},inplace=True)

t6 = t4.groupby('merchant_id').agg('max').reset_index()
t6.rename(columns={'distance':'merchant_max_distance'},inplace=True)

t7 = t4.groupby('merchant_id').agg('mean').reset_index()
t7.rename(columns={'distance':'merchant_mean_distance'},inplace=True)

t8 = t4.groupby('merchant_id').agg('median').reset_index()
t8.rename(columns={'distance':'merchant_median_distance'},inplace=True)

merchant3_feature = pd.merge(t,t1,on='merchant_id',how='left')
merchant3_feature = pd.merge(merchant3_feature,t2,on='merchant_id',how='left')
merchant3_feature = pd.merge(merchant3_feature,t3,on='merchant_id',how='left')
merchant3_feature = pd.merge(merchant3_feature,t5,on='merchant_id',how='left')
merchant3_feature = pd.merge(merchant3_feature,t6,on='merchant_id',how='left')
merchant3_feature = pd.merge(merchant3_feature,t7,on='merchant_id',how='left')
merchant3_feature = pd.merge(merchant3_feature,t8,on='merchant_id',how='left')
merchant3_feature.sales_use_coupon = merchant3_feature.sales_use_coupon.replace(np.nan,0) #fillna with 0
merchant3_feature['merchant_coupon_transfer_rate'] = merchant3_feature.sales_use_coupon.astype('float') / merchant3_feature.total_coupon
merchant3_feature['coupon_rate'] = merchant3_feature.sales_use_coupon.astype('float') / merchant3_feature.total_sales
merchant3_feature.total_coupon = merchant3_feature.total_coupon.replace(np.nan,0) #fillna with 0
merchant3_feature.to_csv('merchant3_feature.csv',index=None)


#for dataset2
merchant2 = feature2[['merchant_id','coupon_id','distance','date_received','date']]

t = merchant2[['merchant_id']]
t.drop_duplicates(inplace=True)

t1 = merchant2[merchant2.date!='null'][['merchant_id']]
t1['total_sales'] = 1
t1 = t1.groupby('merchant_id').agg('sum').reset_index()

t2 = merchant2[(merchant2.date!='null')&(merchant2.coupon_id!='null')][['merchant_id']]
t2['sales_use_coupon'] = 1
t2 = t2.groupby('merchant_id').agg('sum').reset_index()

t3 = merchant2[merchant2.coupon_id!='null'][['merchant_id']]
t3['total_coupon'] = 1
t3 = t3.groupby('merchant_id').agg('sum').reset_index()

t4 = merchant2[(merchant2.date!='null')&(merchant2.coupon_id!='null')][['merchant_id','distance']]
t4.replace('null',-1,inplace=True)
t4.distance = t4.distance.astype('int')
t4.replace(-1,np.nan,inplace=True)
t5 = t4.groupby('merchant_id').agg('min').reset_index()
t5.rename(columns={'distance':'merchant_min_distance'},inplace=True)

t6 = t4.groupby('merchant_id').agg('max').reset_index()
t6.rename(columns={'distance':'merchant_max_distance'},inplace=True)

t7 = t4.groupby('merchant_id').agg('mean').reset_index()
t7.rename(columns={'distance':'merchant_mean_distance'},inplace=True)

t8 = t4.groupby('merchant_id').agg('median').reset_index()
t8.rename(columns={'distance':'merchant_median_distance'},inplace=True)

merchant2_feature = pd.merge(t,t1,on='merchant_id',how='left')
merchant2_feature = pd.merge(merchant2_feature,t2,on='merchant_id',how='left')
merchant2_feature = pd.merge(merchant2_feature,t3,on='merchant_id',how='left')
merchant2_feature = pd.merge(merchant2_feature,t5,on='merchant_id',how='left')
merchant2_feature = pd.merge(merchant2_feature,t6,on='merchant_id',how='left')
merchant2_feature = pd.merge(merchant2_feature,t7,on='merchant_id',how='left')
merchant2_feature = pd.merge(merchant2_feature,t8,on='merchant_id',how='left')
merchant2_feature.sales_use_coupon = merchant2_feature.sales_use_coupon.replace(np.nan,0) #fillna with 0
merchant2_feature['merchant_coupon_transfer_rate'] = merchant2_feature.sales_use_coupon.astype('float') / merchant2_feature.total_coupon
merchant2_feature['coupon_rate'] = merchant2_feature.sales_use_coupon.astype('float') / merchant2_feature.total_sales
merchant2_feature.total_coupon = merchant2_feature.total_coupon.replace(np.nan,0) #fillna with 0
merchant2_feature.to_csv('merchant2_feature.csv',index=None)

#for dataset1
merchant1 = feature1[['merchant_id','coupon_id','distance','date_received','date']]

t = merchant1[['merchant_id']]
t.drop_duplicates(inplace=True)

t1 = merchant1[merchant1.date!='null'][['merchant_id']]
t1['total_sales'] = 1
t1 = t1.groupby('merchant_id').agg('sum').reset_index()

t2 = merchant1[(merchant1.date!='null')&(merchant1.coupon_id!='null')][['merchant_id']]
t2['sales_use_coupon'] = 1
t2 = t2.groupby('merchant_id').agg('sum').reset_index()

t3 = merchant1[merchant1.coupon_id!='null'][['merchant_id']]
t3['total_coupon'] = 1
t3 = t3.groupby('merchant_id').agg('sum').reset_index()

t4 = merchant1[(merchant1.date!='null')&(merchant1.coupon_id!='null')][['merchant_id','distance']]
t4.replace('null',-1,inplace=True)
t4.distance = t4.distance.astype('int')
t4.replace(-1,np.nan,inplace=True)
t5 = t4.groupby('merchant_id').agg('min').reset_index()
t5.rename(columns={'distance':'merchant_min_distance'},inplace=True)

t6 = t4.groupby('merchant_id').agg('max').reset_index()
t6.rename(columns={'distance':'merchant_max_distance'},inplace=True)

t7 = t4.groupby('merchant_id').agg('mean').reset_index()
t7.rename(columns={'distance':'merchant_mean_distance'},inplace=True)

t8 = t4.groupby('merchant_id').agg('median').reset_index()
t8.rename(columns={'distance':'merchant_median_distance'},inplace=True)


merchant1_feature = pd.merge(t,t1,on='merchant_id',how='left')
merchant1_feature = pd.merge(merchant1_feature,t2,on='merchant_id',how='left')
merchant1_feature = pd.merge(merchant1_feature,t3,on='merchant_id',how='left')
merchant1_feature = pd.merge(merchant1_feature,t5,on='merchant_id',how='left')
merchant1_feature = pd.merge(merchant1_feature,t6,on='merchant_id',how='left')
merchant1_feature = pd.merge(merchant1_feature,t7,on='merchant_id',how='left')
merchant1_feature = pd.merge(merchant1_feature,t8,on='merchant_id',how='left')
merchant1_feature.sales_use_coupon = merchant1_feature.sales_use_coupon.replace(np.nan,0) #fillna with 0
merchant1_feature['merchant_coupon_transfer_rate'] = merchant1_feature.sales_use_coupon.astype('float') / merchant1_feature.total_coupon
merchant1_feature['coupon_rate'] = merchant1_feature.sales_use_coupon.astype('float') / merchant1_feature.total_sales
merchant1_feature.total_coupon = merchant1_feature.total_coupon.replace(np.nan,0) #fillna with 0
merchant1_feature.to_csv('merchant1_feature.csv',index=None)

D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:142: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [25]:
############# user related feature   #############

"""
3.user related: 
      count_merchant. 
      user_avg_distance, user_min_distance,user_max_distance. 
      buy_use_coupon. buy_total. coupon_received.
      buy_use_coupon/coupon_received. 
      buy_use_coupon/buy_total
      user_date_datereceived_gap
      
"""
def get_user_date_datereceived_gap(s):
    s = s.split(':')
    return (date(int(s[0][0:4]),int(s[0][4:6]),int(s[0][6:8])) - date(int(s[1][0:4]),int(s[1][4:6]),int(s[1][6:8]))).days

#for dataset3

In [27]:
user3 = feature3[['user_id','merchant_id','coupon_id','discount_rate','distance','date_received','date']]

t = user3[['user_id']]
t.drop_duplicates(inplace=True)
user3.head(5)

D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,user_id,merchant_id,coupon_id,discount_rate,distance,date_received,date
1,1439408,4663,11002,150:20,1,20160528,null
3,1439408,2632,1078,20:1,0,20160319,null
4,1439408,2632,8591,20:1,0,20160613,null
5,1439408,2632,null,null,0,null,20160516
6,1439408,2632,8591,20:1,0,20160516,20160613

In [28]:
t1 = user3[user3.date!='null'][['user_id','merchant_id']]
t1.drop_duplicates(inplace=True)
t1.merchant_id = 1
t1 = t1.groupby('user_id').agg('sum').reset_index()
t1.rename(columns={'merchant_id':'count_merchant'},inplace=True)

In [30]:
t2 = user3[(user3.date!='null')&(user3.coupon_id!='null')][['user_id','distance']]
t2.replace('null',-1,inplace=True)
t2.distance = t2.distance.astype('int')
t2.replace(-1,np.nan,inplace=True)
t2

         user_id  distance
6        1439408       0.0
33       1113008       0.0
38       2881376       0.0
69        114747       0.0
84        114747       0.0
203        94491       8.0
236       756312       0.0
238       756312       0.0
368      1910192      10.0
400      1976240       3.0
405      3821408       NaN
449       165334       0.0
613       141622       1.0
620        74955      10.0
629       141718       0.0
656       232054       2.0
735      1398704       NaN
785       601560       5.0
787       601560       5.0
792       568920       NaN
793       568920       NaN
794       568920       NaN
795       568920       NaN
796       568920       NaN
861       334252       1.0
865       334252       2.0
879      2936672       0.0
885      1469360       0.0
886      1469360       0.0
940       142870       0.0
...          ...       ...
1754246  3766112       0.0
1754247  3766112       0.0
1754248  3766112       0.0
1754249  3766112       0.0
1754267  3766112       0.0
1754268  3766112       0.0
1754273  3766112       0.0
1754274  3766112       0.0
1754297  3766112       0.0
1754298  3766112       0.0
1754299  3766112       0.0
1754300  3766112       0.0
1754301  3766112       0.0
1754306  3766112       0.0
1754312  3766112       0.0
1754313  3766112       0.0
1754320  3766112       0.0
1754331  2455904      10.0
1754348   388972       1.0
1754387    80907       2.0
1754488   340588       0.0
1754512   878424       3.0
1754513   878424       3.0
1754521   878424       3.0
1754534   122139       1.0
1754623   472684       0.0
1754873   212662       2.0
1754877   212662       6.0
1754878   212662       2.0
1754880   212662       6.0

[55158 rows x 2 columns]

In [32]:
t3 = t2.groupby('user_id').agg('min').reset_index()
t3.rename(columns={'distance':'user_min_distance'},inplace=True)
t4 = t2.groupby('user_id').agg('max').reset_index()
t4.rename(columns={'distance':'user_max_distance'},inplace=True)

t5 = t2.groupby('user_id').agg('mean').reset_index()
t5.rename(columns={'distance':'user_mean_distance'},inplace=True)

t6 = t2.groupby('user_id').agg('median').reset_index()
t6.rename(columns={'distance':'user_median_distance'},inplace=True)

In [33]:
t7 = user3[(user3.date!='null')&(user3.coupon_id!='null')][['user_id']]
t7['buy_use_coupon'] = 1
t7 = t7.groupby('user_id').agg('sum').reset_index()

In [34]:
t8 = user3[user3.date!='null'][['user_id']]
t8['buy_total'] = 1
t8 = t8.groupby('user_id').agg('sum').reset_index()

In [35]:
t9 = user3[user3.coupon_id!='null'][['user_id']]
t9['coupon_received'] = 1
t9 = t9.groupby('user_id').agg('sum').reset_index()

In [36]:
t10 = user3[(user3.date_received!='null')&(user3.date!='null')][['user_id','date_received','date']]
t10['user_date_datereceived_gap'] = t10.date + ':' + t10.date_received
t10.user_date_datereceived_gap = t10.user_date_datereceived_gap.apply(get_user_date_datereceived_gap)
t10 = t10[['user_id','user_date_datereceived_gap']]
t11 = t10.groupby('user_id').agg('mean').reset_index()
t11.rename(columns={'user_date_datereceived_gap':'avg_user_date_datereceived_gap'},inplace=True)
t12 = t10.groupby('user_id').agg('min').reset_index()
t12.rename(columns={'user_date_datereceived_gap':'min_user_date_datereceived_gap'},inplace=True)
t13 = t10.groupby('user_id').agg('max').reset_index()
t13.rename(columns={'user_date_datereceived_gap':'max_user_date_datereceived_gap'},inplace=True)


user3_feature = pd.merge(t,t1,on='user_id',how='left')
user3_feature = pd.merge(user3_feature,t3,on='user_id',how='left')
user3_feature = pd.merge(user3_feature,t4,on='user_id',how='left')
user3_feature = pd.merge(user3_feature,t5,on='user_id',how='left')
user3_feature = pd.merge(user3_feature,t6,on='user_id',how='left')
user3_feature = pd.merge(user3_feature,t7,on='user_id',how='left')
user3_feature = pd.merge(user3_feature,t8,on='user_id',how='left')
user3_feature = pd.merge(user3_feature,t9,on='user_id',how='left')
user3_feature = pd.merge(user3_feature,t11,on='user_id',how='left')
user3_feature = pd.merge(user3_feature,t12,on='user_id',how='left')
user3_feature = pd.merge(user3_feature,t13,on='user_id',how='left')

In [37]:
user3_feature.count_merchant = user3_feature.count_merchant.replace(np.nan,0)
user3_feature.buy_use_coupon = user3_feature.buy_use_coupon.replace(np.nan,0)
user3_feature['buy_use_coupon_rate'] = user3_feature.buy_use_coupon.astype('float') / user3_feature.buy_total.astype('float')
user3_feature['user_coupon_transfer_rate'] = user3_feature.buy_use_coupon.astype('float') / user3_feature.coupon_received.astype('float')
user3_feature.buy_total = user3_feature.buy_total.replace(np.nan,0)
user3_feature.coupon_received = user3_feature.coupon_received.replace(np.nan,0)
user3_feature.to_csv('user3_feature.csv',index=None)

In [39]:
#for dataset2
user2 = feature2[['user_id','merchant_id','coupon_id','discount_rate','distance','date_received','date']]

t = user2[['user_id']]
t.drop_duplicates(inplace=True)

t1 = user2[user2.date!='null'][['user_id','merchant_id']]
t1.drop_duplicates(inplace=True)
t1.merchant_id = 1
t1 = t1.groupby('user_id').agg('sum').reset_index()
t1.rename(columns={'merchant_id':'count_merchant'},inplace=True)

t2 = user2[(user2.date!='null')&(user2.coupon_id!='null')][['user_id','distance']]
t2.replace('null',-1,inplace=True)
t2.distance = t2.distance.astype('int')
t2.replace(-1,np.nan,inplace=True)
t3 = t2.groupby('user_id').agg('min').reset_index()
t3.rename(columns={'distance':'user_min_distance'},inplace=True)

t4 = t2.groupby('user_id').agg('max').reset_index()
t4.rename(columns={'distance':'user_max_distance'},inplace=True)

t5 = t2.groupby('user_id').agg('mean').reset_index()
t5.rename(columns={'distance':'user_mean_distance'},inplace=True)

t6 = t2.groupby('user_id').agg('median').reset_index()
t6.rename(columns={'distance':'user_median_distance'},inplace=True)

t7 = user2[(user2.date!='null')&(user2.coupon_id!='null')][['user_id']]
t7['buy_use_coupon'] = 1
t7 = t7.groupby('user_id').agg('sum').reset_index()

t8 = user2[user2.date!='null'][['user_id']]
t8['buy_total'] = 1
t8 = t8.groupby('user_id').agg('sum').reset_index()

t9 = user2[user2.coupon_id!='null'][['user_id']]
t9['coupon_received'] = 1
t9 = t9.groupby('user_id').agg('sum').reset_index()

t10 = user2[(user2.date_received!='null')&(user2.date!='null')][['user_id','date_received','date']]
t10['user_date_datereceived_gap'] = t10.date + ':' + t10.date_received
t10.user_date_datereceived_gap = t10.user_date_datereceived_gap.apply(get_user_date_datereceived_gap)
t10 = t10[['user_id','user_date_datereceived_gap']]

t11 = t10.groupby('user_id').agg('mean').reset_index()
t11.rename(columns={'user_date_datereceived_gap':'avg_user_date_datereceived_gap'},inplace=True)
t12 = t10.groupby('user_id').agg('min').reset_index()
t12.rename(columns={'user_date_datereceived_gap':'min_user_date_datereceived_gap'},inplace=True)
t13 = t10.groupby('user_id').agg('max').reset_index()
t13.rename(columns={'user_date_datereceived_gap':'max_user_date_datereceived_gap'},inplace=True)

user2_feature = pd.merge(t,t1,on='user_id',how='left')
user2_feature = pd.merge(user2_feature,t3,on='user_id',how='left')
user2_feature = pd.merge(user2_feature,t4,on='user_id',how='left')
user2_feature = pd.merge(user2_feature,t5,on='user_id',how='left')
user2_feature = pd.merge(user2_feature,t6,on='user_id',how='left')
user2_feature = pd.merge(user2_feature,t7,on='user_id',how='left')
user2_feature = pd.merge(user2_feature,t8,on='user_id',how='left')
user2_feature = pd.merge(user2_feature,t9,on='user_id',how='left')
user2_feature = pd.merge(user2_feature,t11,on='user_id',how='left')
user2_feature = pd.merge(user2_feature,t12,on='user_id',how='left')
user2_feature = pd.merge(user2_feature,t13,on='user_id',how='left')
user2_feature.count_merchant = user2_feature.count_merchant.replace(np.nan,0)
user2_feature.buy_use_coupon = user2_feature.buy_use_coupon.replace(np.nan,0)
user2_feature['buy_use_coupon_rate'] = user2_feature.buy_use_coupon.astype('float') / user2_feature.buy_total.astype('float')
user2_feature['user_coupon_transfer_rate'] = user2_feature.buy_use_coupon.astype('float') / user2_feature.coupon_received.astype('float')
user2_feature.buy_total = user2_feature.buy_total.replace(np.nan,0)
user2_feature.coupon_received = user2_feature.coupon_received.replace(np.nan,0)
user2_feature.to_csv('user2_feature.csv',index=None)


#for dataset1
user1 = feature1[['user_id','merchant_id','coupon_id','discount_rate','distance','date_received','date']]

t = user1[['user_id']]
t.drop_duplicates(inplace=True)

t1 = user1[user1.date!='null'][['user_id','merchant_id']]
t1.drop_duplicates(inplace=True)
t1.merchant_id = 1
t1 = t1.groupby('user_id').agg('sum').reset_index()
t1.rename(columns={'merchant_id':'count_merchant'},inplace=True)

t2 = user1[(user1.date!='null')&(user1.coupon_id!='null')][['user_id','distance']]
t2.replace('null',-1,inplace=True)
t2.distance = t2.distance.astype('int')
t2.replace(-1,np.nan,inplace=True)
t3 = t2.groupby('user_id').agg('min').reset_index()
t3.rename(columns={'distance':'user_min_distance'},inplace=True)

t4 = t2.groupby('user_id').agg('max').reset_index()
t4.rename(columns={'distance':'user_max_distance'},inplace=True)

t5 = t2.groupby('user_id').agg('mean').reset_index()
t5.rename(columns={'distance':'user_mean_distance'},inplace=True)

t6 = t2.groupby('user_id').agg('median').reset_index()
t6.rename(columns={'distance':'user_median_distance'},inplace=True)

t7 = user1[(user1.date!='null')&(user1.coupon_id!='null')][['user_id']]
t7['buy_use_coupon'] = 1
t7 = t7.groupby('user_id').agg('sum').reset_index()

t8 = user1[user1.date!='null'][['user_id']]
t8['buy_total'] = 1
t8 = t8.groupby('user_id').agg('sum').reset_index()

t9 = user1[user1.coupon_id!='null'][['user_id']]
t9['coupon_received'] = 1
t9 = t9.groupby('user_id').agg('sum').reset_index()

t10 = user1[(user1.date_received!='null')&(user1.date!='null')][['user_id','date_received','date']]
t10['user_date_datereceived_gap'] = t10.date + ':' + t10.date_received
t10.user_date_datereceived_gap = t10.user_date_datereceived_gap.apply(get_user_date_datereceived_gap)
t10 = t10[['user_id','user_date_datereceived_gap']]

t11 = t10.groupby('user_id').agg('mean').reset_index()
t11.rename(columns={'user_date_datereceived_gap':'avg_user_date_datereceived_gap'},inplace=True)
t12 = t10.groupby('user_id').agg('min').reset_index()
t12.rename(columns={'user_date_datereceived_gap':'min_user_date_datereceived_gap'},inplace=True)
t13 = t10.groupby('user_id').agg('max').reset_index()
t13.rename(columns={'user_date_datereceived_gap':'max_user_date_datereceived_gap'},inplace=True)

user1_feature = pd.merge(t,t1,on='user_id',how='left')
user1_feature = pd.merge(user1_feature,t3,on='user_id',how='left')
user1_feature = pd.merge(user1_feature,t4,on='user_id',how='left')
user1_feature = pd.merge(user1_feature,t5,on='user_id',how='left')
user1_feature = pd.merge(user1_feature,t6,on='user_id',how='left')
user1_feature = pd.merge(user1_feature,t7,on='user_id',how='left')
user1_feature = pd.merge(user1_feature,t8,on='user_id',how='left')
user1_feature = pd.merge(user1_feature,t9,on='user_id',how='left')
user1_feature = pd.merge(user1_feature,t11,on='user_id',how='left')
user1_feature = pd.merge(user1_feature,t12,on='user_id',how='left')
user1_feature = pd.merge(user1_feature,t13,on='user_id',how='left')
user1_feature.count_merchant = user1_feature.count_merchant.replace(np.nan,0)
user1_feature.buy_use_coupon = user1_feature.buy_use_coupon.replace(np.nan,0)
user1_feature['buy_use_coupon_rate'] = user1_feature.buy_use_coupon.astype('float') / user1_feature.buy_total.astype('float')
user1_feature['user_coupon_transfer_rate'] = user1_feature.buy_use_coupon.astype('float') / user1_feature.coupon_received.astype('float')
user1_feature.buy_total = user1_feature.buy_total.replace(np.nan,0)
user1_feature.coupon_received = user1_feature.coupon_received.replace(np.nan,0)
user1_feature.to_csv('user1_feature.csv',index=None)
user1_feature

D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,user_id,count_merchant,user_min_distance,user_max_distance,user_mean_distance,user_median_distance,buy_use_coupon,buy_total,coupon_received,avg_user_date_datereceived_gap,min_user_date_datereceived_gap,max_user_date_datereceived_gap,buy_use_coupon_rate,user_coupon_transfer_rate
0,1439408,1.0,NaN,NaN,NaN,NaN,0.0,1.0,2.0,NaN,NaN,NaN,0.000000,0.000000
1,2029232,0.0,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.000000
2,2223968,0.0,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.000000
3,73611,0.0,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.000000
4,3273056,0.0,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.000000
5,94107,0.0,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.000000
6,253750,1.0,NaN,NaN,NaN,NaN,0.0,1.0,1.0,NaN,NaN,NaN,0.000000,0.000000
7,376492,0.0,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.000000
8,1964720,1.0,NaN,NaN,NaN,NaN,0.0,1.0,1.0,NaN,NaN,NaN,0.000000,0.000000
9,1113008,1.0,NaN,NaN,NaN,NaN,0.0,1.0,1.0,NaN,NaN,NaN,0.000000,0.000000
10,2881376,1.0,0.0,0.0,0.0,0.0,1.0,2.0,3.0,8.0,8.0,8.0,0.500000,0.333333
11,4061024,0.0,NaN,NaN,NaN,NaN,0.0,0.0,3.0,NaN,NaN,NaN,NaN,0.000000
12,7073472,1.0,NaN,NaN,NaN,NaN,0.0,1.0,4.0,NaN,NaN,NaN,0.000000,0.000000
13,106443,0.0,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.000000
14,442156,0.0,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.000000
15,4717248,0.0,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.000000
16,2621792,0.0,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.000000
17,262252,0.0,NaN,NaN,NaN,NaN,0.0,0.0,2.0,NaN,NaN,NaN,NaN,0.000000
18,4064096,1.0,NaN,NaN,NaN,NaN,0.0,1.0,0.0,NaN,NaN,NaN,0.000000,NaN
19,114747,4.0,0.0,0.0,0.0,0.0,5.0,11.0,16.0,13.4,1.0,25.0,0.454545,0.312500
20,3409760,0.0,NaN,NaN,NaN,NaN,0.0,0.0,6.0,NaN,NaN,NaN,NaN,0.000000
21,983640,0.0,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.000000
22,344428,1.0,NaN,NaN,NaN,NaN,0.0,1.0,0.0,NaN,NaN,NaN,0.000000,NaN
23,656088,1.0,NaN,NaN,NaN,NaN,0.0,1.0,2.0,NaN,NaN,NaN,0.000000,0.000000
24,820056,0.0,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.000000
25,94347,0.0,NaN,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,NaN,0.000000
26,180502,1.0,NaN,NaN,NaN,NaN,0.0,1.0,2.0,NaN,NaN,NaN,0.000000,0.000000
27,951384,0.0,NaN,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,NaN,0.000000
28,4465344,0.0,NaN,NaN,NaN,NaN,0.0,0.0,7.0,NaN,NaN,NaN,NaN,0.000000
29,328300,0.0,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382667,424108,0.0,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.000000
382668,85563,1.0,NaN,NaN,NaN,NaN,0.0,1.0,0.0,NaN,NaN,NaN,0.000000,NaN
382669,456940,1.0,NaN,NaN,NaN,NaN,0.0,1.0,0.0,NaN,NaN,NaN,0.000000,NaN
382670,253078,0.0,NaN,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,NaN,0.000000
382671,522604,0.0,NaN,NaN,NaN,NaN,0.0,0.0,2.0,NaN,NaN,NaN,NaN,0.000000
382672,4953792,1.0,NaN,NaN,NaN,NaN,0.0,1.0,1.0,NaN,NaN,NaN,0.000000,0.000000
382673,457132,0.0,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.000000
382674,881496,0.0,NaN,NaN,NaN,NaN,0.0,0.0,2.0,NaN,NaN,NaN,NaN,0.000000
382675,118395,1.0,NaN,NaN,NaN,NaN,0.0,1.0,1.0,NaN,NaN,NaN,0.000000,0.000000
382676,1435568,1.0,NaN,NaN,NaN,NaN,0.0,2.0,0.0,NaN,NaN,NaN,0.000000,NaN
382677,2346848,0.0,NaN,NaN,NaN,NaN,0.0,0.0,5.0,NaN,NaN,NaN,NaN,0.000000
382678,171286,0.0,NaN,NaN,NaN,NaN,0.0,0.0,3.0,NaN,NaN,NaN,NaN,0.000000
382679,195862,0.0,NaN,NaN,NaN,NaN,0.0,0.0,6.0,NaN,NaN,NaN,NaN,0.000000
382680,220438,0.0,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.000000
382681,4182368,1.0,NaN,NaN,NaN,NaN,0.0,1.0,5.0,NaN,NaN,NaN,0.000000,0.000000
382682,130731,1.0,NaN,NaN,NaN,NaN,0.0,2.0,8.0,NaN,NaN,NaN,0.000000,0.000000
382683,750936,0.0,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.000000
382684,77499,0.0,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.000000
382685,114363,0.0,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.000000
382686,2611040,0.0,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.000000
382687,6796992,0.0,NaN,NaN,NaN,NaN,0.0,0.0,2.0,NaN,NaN,NaN,NaN,0.000000
382688,3399008,1.0,0.0,0.0,0.0,0.0,1.0,2.0,1.0,4.0,4.0,4.0,0.500000,1.000000
382689,261622,0.0,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.000000
382690,1306544,0.0,NaN,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,NaN,0.000000
382691,1241264,1.0,NaN,NaN,NaN,NaN,0.0,1.0,0.0,NaN,NaN,NaN,0.000000,NaN
382692,1437872,1.0,4.0,4.0,4.0,4.0,1.0,1.0,3.0,4.0,4.0,4.0,1.000000,0.333333
382693,3400544,1.0,NaN,NaN,NaN,NaN,0.0,1.0,1.0,NaN,NaN,NaN,0.000000,0.000000
382694,179830,0.0,NaN,NaN,NaN,NaN,0.0,0.0,12.0,NaN,NaN,NaN,NaN,0.000000
382695,3795296,0.0,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.000000
382696,212662,2.0,2.0,2.0,2.0,2.0,2.0,5.0,3.0,5.0,1.0,9.0,0.400000,0.666667

In [ ]:
##################  user_merchant related feature #########################

"""
4.user_merchant:
      times_user_buy_merchant_before. 
"""

In [40]:
#for dataset3
all_user_merchant = feature3[['user_id','merchant_id']]
all_user_merchant.drop_duplicates(inplace=True)

t = feature3[['user_id','merchant_id','date']]
t = t[t.date!='null'][['user_id','merchant_id']]
t['user_merchant_buy_total'] = 1
t = t.groupby(['user_id','merchant_id']).agg('sum').reset_index()
t.drop_duplicates(inplace=True)
t

D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

        user_id  merchant_id  user_merchant_buy_total
0           165         2934                        6
1           165         4195                        6
2           209         3267                        1
3           239         3465                        1
4           285          450                        1
5           315         1295                        1
6           315         3621                        2
7           316         2436                        6
8           417          775                        2
9           417         3525                        1
10          435         3381                        1
11          448         1482                       13
12          452         7921                        1
13          470         4155                        1
14          489         4057                        1
15          687         8594                        1
16          696         3381                        1
17          696         4195                       22
18          701         8692                        1
19          738          691                        1
20          766         3630                        1
21          789         5216                        1
22          798          797                        1
23          798         7646                        1
24          865         7993                        2
25          878          450                        1
26          881         3621                        1
27          914         2987                        1
28          934         2934                        1
29          944         2709                        1
...         ...          ...                      ...
230698  7360001         7555                        1
230699  7360017         6778                        1
230700  7360079         3381                        1
230701  7360153         5341                       18
230702  7360153         7706                        1
230703  7360167         5032                        1
230704  7360274         2559                        1
230705  7360297         2020                        1
230706  7360300         8438                        1
230707  7360304         7113                        1
230708  7360366         3394                        3
230709  7360379         3381                        1
230710  7360432         8144                        1
230711  7360556         4921                        2
230712  7360575         7555                        1
230713  7360590         1474                        6
230714  7360602         3403                        2
230715  7360602         7253                        7
230716  7360651         8352                        2
230717  7360651         8856                        3
230718  7360675          760                        2
230719  7360728          171                        1
230720  7360797         2934                        2
230721  7360797         8608                        1
230722  7360823         3283                        2
230723  7360840         2099                        2
230724  7360928         1873                        1
230725  7360928         3532                        5
230726  7360941         6485                        3
230727  7360967          760                        2

[230728 rows x 3 columns]

In [41]:
t1 = feature3[['user_id','merchant_id','coupon_id']]
t1 = t1[t1.coupon_id!='null'][['user_id','merchant_id']]
t1['user_merchant_received'] = 1
t1 = t1.groupby(['user_id','merchant_id']).agg('sum').reset_index()
t1.drop_duplicates(inplace=True)

t2 = feature3[['user_id','merchant_id','date','date_received']]
t2 = t2[(t2.date!='null')&(t2.date_received!='null')][['user_id','merchant_id']]
t2['user_merchant_buy_use_coupon'] = 1
t2 = t2.groupby(['user_id','merchant_id']).agg('sum').reset_index()
t2.drop_duplicates(inplace=True)

t3 = feature3[['user_id','merchant_id']]
t3['user_merchant_any'] = 1
t3 = t3.groupby(['user_id','merchant_id']).agg('sum').reset_index()
t3.drop_duplicates(inplace=True)

t4 = feature3[['user_id','merchant_id','date','coupon_id']]
t4 = t4[(t4.date!='null')&(t4.coupon_id=='null')][['user_id','merchant_id']]
t4['user_merchant_buy_common'] = 1
t4 = t4.groupby(['user_id','merchant_id']).agg('sum').reset_index()
t4.drop_duplicates(inplace=True)

user_merchant3 = pd.merge(all_user_merchant,t,on=['user_id','merchant_id'],how='left')
user_merchant3 = pd.merge(user_merchant3,t1,on=['user_id','merchant_id'],how='left')
user_merchant3 = pd.merge(user_merchant3,t2,on=['user_id','merchant_id'],how='left')
user_merchant3 = pd.merge(user_merchant3,t3,on=['user_id','merchant_id'],how='left')
user_merchant3 = pd.merge(user_merchant3,t4,on=['user_id','merchant_id'],how='left')
user_merchant3.user_merchant_buy_use_coupon = user_merchant3.user_merchant_buy_use_coupon.replace(np.nan,0)
user_merchant3.user_merchant_buy_common = user_merchant3.user_merchant_buy_common.replace(np.nan,0)
user_merchant3['user_merchant_coupon_transfer_rate'] = user_merchant3.user_merchant_buy_use_coupon.astype('float') / user_merchant3.user_merchant_received.astype('float')
user_merchant3['user_merchant_coupon_buy_rate'] = user_merchant3.user_merchant_buy_use_coupon.astype('float') / user_merchant3.user_merchant_buy_total.astype('float')
user_merchant3['user_merchant_rate'] = user_merchant3.user_merchant_buy_total.astype('float') / user_merchant3.user_merchant_any.astype('float')
user_merchant3['user_merchant_common_buy_rate'] = user_merchant3.user_merchant_buy_common.astype('float') / user_merchant3.user_merchant_buy_total.astype('float')
user_merchant3.to_csv('user_merchant3.csv',index=None)

#for dataset2
all_user_merchant = feature2[['user_id','merchant_id']]
all_user_merchant.drop_duplicates(inplace=True)

t = feature2[['user_id','merchant_id','date']]
t = t[t.date!='null'][['user_id','merchant_id']]
t['user_merchant_buy_total'] = 1
t = t.groupby(['user_id','merchant_id']).agg('sum').reset_index()
t.drop_duplicates(inplace=True)

t1 = feature2[['user_id','merchant_id','coupon_id']]
t1 = t1[t1.coupon_id!='null'][['user_id','merchant_id']]
t1['user_merchant_received'] = 1
t1 = t1.groupby(['user_id','merchant_id']).agg('sum').reset_index()
t1.drop_duplicates(inplace=True)

t2 = feature2[['user_id','merchant_id','date','date_received']]
t2 = t2[(t2.date!='null')&(t2.date_received!='null')][['user_id','merchant_id']]
t2['user_merchant_buy_use_coupon'] = 1
t2 = t2.groupby(['user_id','merchant_id']).agg('sum').reset_index()
t2.drop_duplicates(inplace=True)

t3 = feature2[['user_id','merchant_id']]
t3['user_merchant_any'] = 1
t3 = t3.groupby(['user_id','merchant_id']).agg('sum').reset_index()
t3.drop_duplicates(inplace=True)

t4 = feature2[['user_id','merchant_id','date','coupon_id']]
t4 = t4[(t4.date!='null')&(t4.coupon_id=='null')][['user_id','merchant_id']]
t4['user_merchant_buy_common'] = 1
t4 = t4.groupby(['user_id','merchant_id']).agg('sum').reset_index()
t4.drop_duplicates(inplace=True)

user_merchant2 = pd.merge(all_user_merchant,t,on=['user_id','merchant_id'],how='left')
user_merchant2 = pd.merge(user_merchant2,t1,on=['user_id','merchant_id'],how='left')
user_merchant2 = pd.merge(user_merchant2,t2,on=['user_id','merchant_id'],how='left')
user_merchant2 = pd.merge(user_merchant2,t3,on=['user_id','merchant_id'],how='left')
user_merchant2 = pd.merge(user_merchant2,t4,on=['user_id','merchant_id'],how='left')
user_merchant2.user_merchant_buy_use_coupon = user_merchant2.user_merchant_buy_use_coupon.replace(np.nan,0)
user_merchant2.user_merchant_buy_common = user_merchant2.user_merchant_buy_common.replace(np.nan,0)
user_merchant2['user_merchant_coupon_transfer_rate'] = user_merchant2.user_merchant_buy_use_coupon.astype('float') / user_merchant2.user_merchant_received.astype('float')
user_merchant2['user_merchant_coupon_buy_rate'] = user_merchant2.user_merchant_buy_use_coupon.astype('float') / user_merchant2.user_merchant_buy_total.astype('float')
user_merchant2['user_merchant_rate'] = user_merchant2.user_merchant_buy_total.astype('float') / user_merchant2.user_merchant_any.astype('float')
user_merchant2['user_merchant_common_buy_rate'] = user_merchant2.user_merchant_buy_common.astype('float') / user_merchant2.user_merchant_buy_total.astype('float')
user_merchant2.to_csv('user_merchant2.csv',index=None)

#for dataset2
all_user_merchant = feature1[['user_id','merchant_id']]
all_user_merchant.drop_duplicates(inplace=True)

t = feature1[['user_id','merchant_id','date']]
t = t[t.date!='null'][['user_id','merchant_id']]
t['user_merchant_buy_total'] = 1
t = t.groupby(['user_id','merchant_id']).agg('sum').reset_index()
t.drop_duplicates(inplace=True)

t1 = feature1[['user_id','merchant_id','coupon_id']]
t1 = t1[t1.coupon_id!='null'][['user_id','merchant_id']]
t1['user_merchant_received'] = 1
t1 = t1.groupby(['user_id','merchant_id']).agg('sum').reset_index()
t1.drop_duplicates(inplace=True)

t2 = feature1[['user_id','merchant_id','date','date_received']]
t2 = t2[(t2.date!='null')&(t2.date_received!='null')][['user_id','merchant_id']]
t2['user_merchant_buy_use_coupon'] = 1
t2 = t2.groupby(['user_id','merchant_id']).agg('sum').reset_index()
t2.drop_duplicates(inplace=True)

t3 = feature1[['user_id','merchant_id']]
t3['user_merchant_any'] = 1
t3 = t3.groupby(['user_id','merchant_id']).agg('sum').reset_index()
t3.drop_duplicates(inplace=True)

t4 = feature1[['user_id','merchant_id','date','coupon_id']]
t4 = t4[(t4.date!='null')&(t4.coupon_id=='null')][['user_id','merchant_id']]
t4['user_merchant_buy_common'] = 1
t4 = t4.groupby(['user_id','merchant_id']).agg('sum').reset_index()
t4.drop_duplicates(inplace=True)

user_merchant1 = pd.merge(all_user_merchant,t,on=['user_id','merchant_id'],how='left')
user_merchant1 = pd.merge(user_merchant1,t1,on=['user_id','merchant_id'],how='left')
user_merchant1 = pd.merge(user_merchant1,t2,on=['user_id','merchant_id'],how='left')
user_merchant1 = pd.merge(user_merchant1,t3,on=['user_id','merchant_id'],how='left')
user_merchant1 = pd.merge(user_merchant1,t4,on=['user_id','merchant_id'],how='left')
user_merchant1.user_merchant_buy_use_coupon = user_merchant1.user_merchant_buy_use_coupon.replace(np.nan,0)
user_merchant1.user_merchant_buy_common = user_merchant1.user_merchant_buy_common.replace(np.nan,0)
user_merchant1['user_merchant_coupon_transfer_rate'] = user_merchant1.user_merchant_buy_use_coupon.astype('float') / user_merchant1.user_merchant_received.astype('float')
user_merchant1['user_merchant_coupon_buy_rate'] = user_merchant1.user_merchant_buy_use_coupon.astype('float') / user_merchant1.user_merchant_buy_total.astype('float')
user_merchant1['user_merchant_rate'] = user_merchant1.user_merchant_buy_total.astype('float') / user_merchant1.user_merchant_any.astype('float')
user_merchant1['user_merchant_common_buy_rate'] = user_merchant1.user_merchant_buy_common.astype('float') / user_merchant1.user_merchant_buy_total.astype('float')
user_merchant1.to_csv('user_merchant1.csv',index=None)

D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:85: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\X1Carbon\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:106: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [52]:
def get_label(s):
    s = s.split(':')
    if s[0]=='null':
        return 0
    elif s[0]=='nan':
        return 0
    elif (date(int(s[0][0:4]),int(s[0][4:6]),int(s[0][6:8]))-date(int(s[1][0:4]),int(s[1][4:6]),int(s[1][6:8]))).days<=15:
        return 1
    else:
        return -1

In [47]:
coupon3 = pd.read_csv('coupon3_feature.csv')
merchant3 = pd.read_csv('merchant3_feature.csv')
user3 = pd.read_csv('user3_feature.csv')
user_merchant3 = pd.read_csv('user_merchant3.csv')
other_feature3 = pd.read_csv('other_feature3.csv')
dataset3 = pd.merge(coupon3,merchant3,on='merchant_id',how='left')
dataset3 = pd.merge(dataset3,user3,on='user_id',how='left')
dataset3 = pd.merge(dataset3,user_merchant3,on=['user_id','merchant_id'],how='left')
dataset3 = pd.merge(dataset3,other_feature3,on=['user_id','coupon_id','date_received'],how='left')
dataset3.drop_duplicates(inplace=True)
print (dataset3.shape)
dataset3.head(3)

(112803, 52)

,user_id,merchant_id,coupon_id,discount_rate,distance,date_received,day_of_week,day_of_month,days_distance,discount_man,...,user_merchant_rate,user_merchant_common_buy_rate,this_month_user_receive_same_coupon_count,this_month_user_receive_all_coupon_count,this_month_user_receive_same_coupon_lastone,this_month_user_receive_same_coupon_firstone,this_day_user_receive_all_coupon_count,this_day_user_receive_same_coupon_count,day_gap_before,day_gap_after
0,4129537,450,9983,0.833333,1.0,20160712,2,12,12,30.0,...,NaN,NaN,1,1,-1,-1,1,1,-1,-1
1,6949378,1300,3429,0.833333,NaN,20160706,3,6,6,30.0,...,NaN,NaN,1,1,-1,-1,1,1,-1,-1
2,2166529,7113,6928,0.900000,5.0,20160727,3,27,27,200.0,...,NaN,NaN,1,2,-1,-1,2,1,-1,-1

In [48]:
dataset3.user_merchant_buy_total = dataset3.user_merchant_buy_total.replace(np.nan,0)
dataset3.user_merchant_any = dataset3.user_merchant_any.replace(np.nan,0)
dataset3.user_merchant_received = dataset3.user_merchant_received.replace(np.nan,0)
dataset3['is_weekend'] = dataset3.day_of_week.apply(lambda x:1 if x in (6,7) else 0)
weekday_dummies = pd.get_dummies(dataset3.day_of_week)
weekday_dummies

        1  2  3  4  5  6  7
0       0  1  0  0  0  0  0
1       0  0  1  0  0  0  0
2       0  0  1  0  0  0  0
3       0  0  1  0  0  0  0
4       0  0  0  0  1  0  0
5       0  0  1  0  0  0  0
6       0  0  0  0  0  1  0
7       0  0  1  0  0  0  0
8       0  0  0  0  1  0  0
9       0  0  0  0  0  0  1
10      0  0  0  0  0  1  0
11      0  1  0  0  0  0  0
12      0  0  0  0  0  0  1
13      0  0  1  0  0  0  0
14      0  0  1  0  0  0  0
15      0  0  1  0  0  0  0
16      0  0  1  0  0  0  0
17      0  0  0  0  0  0  1
18      1  0  0  0  0  0  0
19      1  0  0  0  0  0  0
20      0  0  1  0  0  0  0
21      1  0  0  0  0  0  0
22      0  0  0  0  0  0  1
23      0  0  0  1  0  0  0
24      1  0  0  0  0  0  0
25      0  0  0  0  1  0  0
26      0  0  0  0  0  0  1
27      0  0  1  0  0  0  0
28      0  1  0  0  0  0  0
29      0  1  0  0  0  0  0
...    .. .. .. .. .. .. ..
138318  0  0  0  0  0  0  1
138319  0  0  1  0  0  0  0
138320  0  1  0  0  0  0  0
138321  0  1  0  0  0  0  0
138322  0  0  0  0  0  0  1
138323  0  0  0  1  0  0  0
138324  1  0  0  0  0  0  0
138325  0  0  0  0  0  0  1
138326  1  0  0  0  0  0  0
138327  0  0  1  0  0  0  0
138328  1  0  0  0  0  0  0
138329  1  0  0  0  0  0  0
138330  0  0  0  0  0  0  1
138331  0  0  1  0  0  0  0
138332  1  0  0  0  0  0  0
138333  0  0  0  1  0  0  0
138334  0  0  1  0  0  0  0
138335  0  0  0  0  0  1  0
138336  0  0  0  0  0  1  0
138337  0  0  0  0  1  0  0
138338  1  0  0  0  0  0  0
138339  0  1  0  0  0  0  0
138340  0  1  0  0  0  0  0
138341  0  0  0  0  0  1  0
138342  0  0  0  0  0  1  0
138343  0  0  0  0  0  1  0
138344  0  0  0  1  0  0  0
138345  0  1  0  0  0  0  0
138346  0  0  0  0  0  0  1
138347  0  0  0  1  0  0  0

[112803 rows x 7 columns]

In [49]:
weekday_dummies.columns = ['weekday'+str(i+1) for i in range(weekday_dummies.shape[1])]
dataset3 = pd.concat([dataset3,weekday_dummies],axis=1)
dataset3.drop(['merchant_id','day_of_week','coupon_count'],axis=1,inplace=True)
dataset3 = dataset3.replace('null',np.nan)
dataset3.to_csv('dataset3.csv',index=None)

In [53]:
coupon2 = pd.read_csv('coupon2_feature.csv')
merchant2 = pd.read_csv('merchant2_feature.csv')
user2 = pd.read_csv('user2_feature.csv')
user_merchant2 = pd.read_csv('user_merchant2.csv')
other_feature2 = pd.read_csv('other_feature2.csv')
dataset2 = pd.merge(coupon2,merchant2,on='merchant_id',how='left')
dataset2 = pd.merge(dataset2,user2,on='user_id',how='left')
dataset2 = pd.merge(dataset2,user_merchant2,on=['user_id','merchant_id'],how='left')
dataset2 = pd.merge(dataset2,other_feature2,on=['user_id','coupon_id','date_received'],how='left')
dataset2.drop_duplicates(inplace=True)
#print dataset2.shape

dataset2.user_merchant_buy_total = dataset2.user_merchant_buy_total.replace(np.nan,0)
dataset2.user_merchant_any = dataset2.user_merchant_any.replace(np.nan,0)
dataset2.user_merchant_received = dataset2.user_merchant_received.replace(np.nan,0)
dataset2['is_weekend'] = dataset2.day_of_week.apply(lambda x:1 if x in (6,7) else 0)
weekday_dummies = pd.get_dummies(dataset2.day_of_week)
weekday_dummies.columns = ['weekday'+str(i+1) for i in range(weekday_dummies.shape[1])]
dataset2 = pd.concat([dataset2,weekday_dummies],axis=1)
dataset2['label'] = dataset2.date.astype('str') + ':' +  dataset2.date_received.astype('str')
dataset2

,user_id,merchant_id,coupon_id,discount_rate,distance,date_received,date,day_of_week,day_of_month,days_distance,...,day_gap_after,is_weekend,weekday1,weekday2,weekday3,weekday4,weekday5,weekday6,weekday7,label
0,1439408,4663,11002,0.866667,1.0,20160528,NaN,6,28,14,...,-1,1,0,0,0,0,0,1,0,nan:20160528
1,1439408,2632,8591,0.950000,0.0,20160613,NaN,1,13,30,...,-1,0,1,0,0,0,0,0,0,nan:20160613
2,1439408,2632,8591,0.950000,0.0,20160516,20160613.0,1,16,2,...,28,0,1,0,0,0,0,0,0,20160613.0:20160516
3,2029232,450,1532,0.833333,0.0,20160530,NaN,1,30,16,...,-1,0,1,0,0,0,0,0,0,nan:20160530
4,2029232,6459,12737,0.950000,0.0,20160519,NaN,4,19,5,...,-1,0,0,0,0,1,0,0,0,nan:20160519
5,2747744,6901,1097,0.800000,NaN,20160606,NaN,1,6,23,...,-1,0,1,0,0,0,0,0,0,nan:20160606
6,196342,1579,10698,0.950000,1.0,20160606,NaN,1,6,23,...,-1,0,1,0,0,0,0,0,0,nan:20160606
7,253750,6901,2366,0.833333,0.0,20160518,NaN,3,18,4,...,-1,0,0,0,1,0,0,0,0,nan:20160518
8,343660,4663,11002,0.866667,NaN,20160528,NaN,6,28,14,...,-1,1,0,0,0,0,0,1,0,nan:20160528
9,1113008,3621,2705,0.750000,0.0,20160524,NaN,2,24,10,...,-1,0,0,1,0,0,0,0,0,nan:20160524
10,1113008,2277,1495,0.666667,0.0,20160523,NaN,1,23,9,...,-1,0,1,0,0,0,0,0,0,nan:20160523
11,1113008,1361,11166,0.950000,0.0,20160515,20160521.0,7,15,1,...,6,1,0,0,0,0,0,0,1,20160521.0:20160515
12,1113008,1361,11166,0.950000,0.0,20160521,NaN,6,21,7,...,-1,1,0,0,0,0,0,1,0,nan:20160521
13,622296,4874,846,0.900000,1.0,20160523,NaN,1,23,9,...,-1,0,1,0,0,0,0,0,0,nan:20160523
14,4064096,4666,6604,0.900000,0.0,20160602,NaN,4,2,19,...,-1,0,0,0,0,1,0,0,0,nan:20160602
15,114747,6901,2366,0.833333,0.0,20160523,20160605.0,1,23,9,...,-1,0,1,0,0,0,0,0,0,20160605.0:20160523
16,114747,6901,1097,0.800000,0.0,20160605,NaN,7,5,22,...,-1,1,0,0,0,0,0,0,1,nan:20160605
17,114747,760,2418,0.833333,0.0,20160607,NaN,2,7,24,...,-1,0,0,1,0,0,0,0,0,nan:20160607
18,114747,6901,2107,0.833333,0.0,20160605,NaN,7,5,22,...,-1,1,0,0,0,0,0,0,1,nan:20160605
19,245878,760,2418,0.833333,0.0,20160601,NaN,3,1,18,...,-1,0,0,0,1,0,0,0,0,nan:20160601
20,3409760,6901,2366,0.833333,7.0,20160530,NaN,1,30,16,...,-1,0,1,0,0,0,0,0,0,nan:20160530
21,2231648,3621,2705,0.750000,1.0,20160522,NaN,7,22,8,...,-1,1,0,0,0,0,0,0,1,nan:20160522
22,1314224,760,2418,0.833333,2.0,20160611,NaN,6,11,28,...,-1,1,0,0,0,0,0,1,0,nan:20160611
23,3283808,6189,13606,0.833333,2.0,20160524,NaN,2,24,10,...,-1,0,0,1,0,0,0,0,0,nan:20160524
24,197110,8479,7360,0.900000,0.0,20160526,NaN,4,26,12,...,-1,0,0,0,0,1,0,0,0,nan:20160526
25,559320,3621,2705,0.750000,2.0,20160520,NaN,5,20,6,...,-1,0,0,0,0,0,1,0,0,nan:20160520
26,3548000,450,1532,0.833333,NaN,20160527,NaN,5,27,13,...,-1,0,0,0,0,0,1,0,0,nan:20160527
27,5525184,760,2418,0.833333,0.0,20160602,NaN,4,2,19,...,-1,0,0,0,0,1,0,0,0,nan:20160602
28,6311616,1244,5136,0.666667,1.0,20160526,NaN,4,26,12,...,-1,0,0,0,0,1,0,0,0,nan:20160526
29,180886,1469,7430,0.600000,0.0,20160521,NaN,6,21,7,...,-1,1,0,0,0,0,0,1,0,nan:20160521
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271988,781272,760,2418,0.833333,0.0,20160613,NaN,1,13,30,...,-1,0,1,0,0,0,0,0,0,nan:20160613
271989,77211,6901,2366,0.833333,10.0,20160526,NaN,4,26,12,...,-1,0,0,0,0,1,0,0,0,nan:20160526
271990,146230,6901,2366,0.833333,0.0,20160524,NaN,2,24,10,...,-1,0,0,1,0,0,0,0,0,nan:20160524
271991,472684,760,2418,0.833333,0.0,20160601,20160618.0,3,1,18,...,-1,0,0,0,1,0,0,0,0,20160618.0:20160601
271992,472684,7555,2111,0.800000,4.0,20160602,NaN,4,2,19,...,6,0,0,0,0,1,0,0,0,nan:20160602
271993,472684,2709,13165,0.900000,0.0,20160527,NaN,5,27,13,...,-1,0,0,0,0,0,1,0,0,nan:20160527
271994,472684,2436,12462,0.750000,4.0,20160530,NaN,1,30,16,...,-1,0,1,0,0,0,0,0,0,nan:20160530
271995,472684,7555,2111,0.800000,4.0,20160608,NaN,3,8,25,...,-1,0,0,0,1,0,0,0,0,nan:20160608
271996,4680384,5717,8192,0.750000,0.0,20160522,NaN,7,22,8,...,-1,1,0,0,0,0,0,0,1,nan:20160522
271997,4680384,8386,4283,0.800000,0.0,20160531,NaN,2,31,17,...,-1,0,0,1,0,0,0,0,0,nan:20160531
271998,6253248,760,2418,0.833333,10.0,20160601,NaN,3,1,18,...,-1,0,0,0,1,0,0,0,0,nan:20160601
271999,552408,4663,13304,0.866667,0.0,20160526,NaN,4,26,12,...,-1,0,0,0,0,1,0,0,0,nan:20160526
272000,552408,4663,11002,0.866667,0.0,20160528,NaN,6,28,14,...,-1,1,0,0,0,0,0,1,0,nan:20160528
272001,195670,3621,2705,0.750000,10.0,20160527,NaN,5,27,13,...,-1,0,0,0,0,0,1,0,0,nan:20160527
272002,1106864,760,2418,0.833333,0.0,20160613,NaN,1,13,30,...,-1,0,1,0,0,0,0,0,0,nan:20160613
272003,154774,7903,8137,0.950000,NaN,20160526,NaN,4,26,12,...,-1,0,0,0,0,1,0,0,0,nan:20160526
272004,489772,3621,2705,0.750000,0.0,20160524,NaN,2,24,10,...,-1,0,0,1,0,0,0,0,0,nan:20160524
272005,717528,629,2427,0.666667,0.0,20160524,NaN,2,24,10,...,-1,0,0,1,0,0,0,0,0,nan:20160524
272006,881496,6485,2079,0.833333,3.0,20160522,NaN,7,22,8,...,-1,1,0,0,0,0,0,0,1,nan:20160522
272007,1894064,760,2418,0.833333,0.0,20160609,NaN,4,9,26,...,-1,0,0,0,0,1,0,0,0,nan:20160609
272008,118395,2703,3321,0.950000,0.0,20160607,NaN,2,7,24,...,-1,0,0,1,0,0,0,0,0,nan:20160607
272009,195862,4666,6604,0.900000,1.0,20160602,NaN,4,2,19,...,-1,0,0,0,0,1,0,0,0,nan:20160602
272010,522796,6987,8689,0.900000,0.0,20160516,NaN,1,16,2,...,-1,0,1,0,0,0,0,0,0,nan:20160516
272011,4182368,760,6103,0.750000,0.0,20160521,NaN,6,21,7,...,-1,1,0,0,0,0,0,1,0,nan:20160521
272012,3399008,6901,2366,0.833333,0.0,20160530,NaN,1,30,16,...,-1,0,1,0,0,0,0,0,0,nan:20160530
272013,118539,760,2418,0.833333,0.0,20160606,NaN,1,6,23,...,-1,0,1,0,0,0,0,0,0,nan:20160606
272014,2876768,6901,2107,0.833333,0.0,20160531,NaN,2,31,17,...,-1,0,0,1,0,0,0,0,0,nan:20160531
272015,4056416,2420,10883,0.700000,NaN,20160613,NaN,1,13,30,...,-1,0,1,0,0,0,0,0,0,nan:20160613
272016,752472,7113,1633,0.800000,6.0,20160613,NaN,1,13,30,...,-1,0,1,0,0,0,0,0,0,nan:20160613
272017,752472,3621,2705,0.750000,0.0,20160523,NaN,1,23,9,...,-1,0,1,0,0,0,0,0,0,nan:20160523

In [54]:
dataset2.label = dataset2.label.apply(get_label)
dataset2.drop(['merchant_id','day_of_week','date','date_received','coupon_id','coupon_count'],axis=1,inplace=True)
dataset2 = dataset2.replace('null',np.nan)
dataset2.to_csv('dataset2.csv',index=None)


coupon1 = pd.read_csv('coupon1_feature.csv')
merchant1 = pd.read_csv('merchant1_feature.csv')
user1 = pd.read_csv('user1_feature.csv')
user_merchant1 = pd.read_csv('user_merchant1.csv')
other_feature1 = pd.read_csv('other_feature1.csv')
dataset1 = pd.merge(coupon1,merchant1,on='merchant_id',how='left')
dataset1 = pd.merge(dataset1,user1,on='user_id',how='left')
dataset1 = pd.merge(dataset1,user_merchant1,on=['user_id','merchant_id'],how='left')
dataset1 = pd.merge(dataset1,other_feature1,on=['user_id','coupon_id','date_received'],how='left')
dataset1.drop_duplicates(inplace=True)
#print dataset1.shape

dataset1.user_merchant_buy_total = dataset1.user_merchant_buy_total.replace(np.nan,0)
dataset1.user_merchant_any = dataset1.user_merchant_any.replace(np.nan,0)
dataset1.user_merchant_received = dataset1.user_merchant_received.replace(np.nan,0)
dataset1['is_weekend'] = dataset1.day_of_week.apply(lambda x:1 if x in (6,7) else 0)
weekday_dummies = pd.get_dummies(dataset1.day_of_week)
weekday_dummies.columns = ['weekday'+str(i+1) for i in range(weekday_dummies.shape[1])]
dataset1 = pd.concat([dataset1,weekday_dummies],axis=1)
dataset1['label'] = dataset1.date.astype('str') + ':' +  dataset1.date_received.astype('str')
dataset1.label = dataset1.label.apply(get_label)
dataset1.drop(['merchant_id','day_of_week','date','date_received','coupon_id','coupon_count'],axis=1,inplace=True)
dataset1 = dataset1.replace('null',np.nan)
dataset1.to_csv('dataset1.csv',index=None)

# Model and training
（未运行）

In [ ]:
dataset1 = pd.read_csv('dataset1.csv')
dataset1.label.replace(-1,0,inplace=True)
dataset2 = pd.read_csv('dataset2.csv')
dataset2.label.replace(-1,0,inplace=True)
dataset3 = pd.read_csv('dataset3.csv')

dataset1.drop_duplicates(inplace=True)
dataset2.drop_duplicates(inplace=True)
dataset3.drop_duplicates(inplace=True)

dataset12 = pd.concat([dataset1,dataset2],axis=0)

dataset1_y = dataset1.label
dataset1_x = dataset1.drop(['user_id','label','day_gap_before','day_gap_after'],axis=1)  # 'day_gap_before','day_gap_after' cause overfitting, 0.77
dataset2_y = dataset2.label
dataset2_x = dataset2.drop(['user_id','label','day_gap_before','day_gap_after'],axis=1)
dataset12_y = dataset12.label
dataset12_x = dataset12.drop(['user_id','label','day_gap_before','day_gap_after'],axis=1)
dataset3_preds = dataset3[['user_id','coupon_id','date_received']]
dataset3_x = dataset3.drop(['user_id','coupon_id','date_received','day_gap_before','day_gap_after'],axis=1)

print dataset1_x.shape,dataset2_x.shape,dataset3_x.shape

dataset1 = xgb.DMatrix(dataset1_x,label=dataset1_y)
dataset2 = xgb.DMatrix(dataset2_x,label=dataset2_y)
dataset12 = xgb.DMatrix(dataset12_x,label=dataset12_y)
dataset3 = xgb.DMatrix(dataset3_x)

params={'booster':'gbtree',
	    'objective': 'rank:pairwise',
	    'eval_metric':'auc',
	    'gamma':0.1,
	    'min_child_weight':1.1,
	    'max_depth':5,
	    'lambda':10,
	    'subsample':0.7,
	    'colsample_bytree':0.7,
	    'colsample_bylevel':0.7,
	    'eta': 0.01,
	    'tree_method':'exact',
	    'seed':0,
	    'nthread':12
	    }
'''
没看懂dataset1和dataset2干什么用的？
'''
#dataset
##########################################
#train on dataset1, evaluate on dataset2
#watchlist = [(dataset1,'train'),(dataset2,'val')]
#model = xgb.train(params,dataset1,num_boost_round=3000,evals=watchlist,early_stopping_rounds=300)

watchlist = [(dataset12,'train')]
model = xgb.train(params,dataset12,num_boost_round=3500,evals=watchlist)

#predict test set
dataset3_preds['label'] = model.predict(dataset3)
dataset3_preds.label = MinMaxScaler().fit_transform(dataset3_preds.label.reshape(-1, 1))
dataset3_preds.sort_values(by=['coupon_id','label'],inplace=True)
dataset3_preds.to_csv("xgb_preds.csv",index=None,header=None)
print dataset3_preds.describe()
    
#save feature score
feature_score = model.get_fscore()
feature_score = sorted(feature_score.items(), key=lambda x:x[1],reverse=True)
fs = []
for (key,value) in feature_score:
    fs.append("{0},{1}\n".format(key,value))
    
with open('xgb_feature_score.csv','w') as f:
    f.writelines("feature,score\n")
    f.writelines(fs)